
@import 'mixins';

$fontBase: 'Roboto';
$fontBasePath: '../font/Roboto/';

$fontSecond: 'Proxima Nova';
$fontSecondPath: '../font/Proxima/';




/* Roboto
*****************************************************************************************************/

/* Bold
----------------------------------------*/
@include Fonts($fontBase, $fontBasePath + 'Roboto-Bold.ttf', 700);
@include Fonts($fontBase, $fontBasePath + 'Roboto-BoldItalic.ttf', 700, italic);


/* Medium
----------------------------------------*/
@include Fonts($fontBase, $fontBasePath + 'Roboto-Medium.ttf', 500);
@include Fonts($fontBase, $fontBasePath + 'Roboto-MediumItalic.ttf', 500, italic);


/* Regular
----------------------------------------*/
@include Fonts($fontBase, $fontBasePath + 'Roboto-Regular.ttf', 400);
@include Fonts($fontBase, $fontBasePath + 'Roboto-Italic.ttf', 400, italic);


/* Light
----------------------------------------*/
@include Fonts($fontBase, $fontBasePath + 'Roboto-Light.ttf', 300);
@include Fonts($fontBase, $fontBasePath + 'Roboto-LightItalic.ttf', 300, italic);

/*********** Roboto ***********/








/* Proxima Nova
*****************************************************************************************************/

/* Black
----------------------------------------*/
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Black.otf', 900);
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Black Italic.otf', 900, italic);


/* Extra Bold
----------------------------------------*/
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Extrabold.otf', 800);
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Extrabold Italic.otf', 800, italic);


/* Bold
----------------------------------------*/
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Bold.otf', 700);
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Bold Italic.otf', 700, italic);


/* Semi Bold
----------------------------------------*/
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Semibold.otf', 600);
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Semibold Italic.otf', 600, italic);


/* Regular
----------------------------------------*/
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Regular.otf', 400);
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Regular Italic.otf', 400, italic);


/* Light
----------------------------------------*/
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Light.otf', 300);
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Light Italic.otf', 300, italic);


/* Thin
----------------------------------------*/
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Thin.otf', 200);
@include Fonts($fontSecond, $fontSecondPath + 'Proxima Nova Thin Italic.otf', 200, italic);

/*********** Proxima Nova ***********/



