



/* Application
=================================================================*/
$colorBase: #46cdd6;
$colorAlert: #ef5350;
$colorBorder: #e6e6e6;
$colorLink: #4265aa;







/* Social Websites
=================================================================*/
$facebook: #3b589e;
$twitter: #00aced;
$instagram: #c21975;
$vkontakte: #436eab;
$youtube: #fe0000;
$googlePlus: #dc4a38;
$odnoklassniki: #f58220;
$linkedin: #107bb8;
$telegram: #00aff0;

