
@import 'variables';
@import 'mixins';
@import 'heritage';
@import 'operations';
@import 'fonts';


body {
	font-family: $fontBase, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #484849;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}



a {
	display: inline-block;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $colorAlert;
	}
}



button {
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
}



ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

li {
	text-align: inherit;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}


strong,
b {
	font-weight: 700;
}







/* Custom Classes
=================================================================*/
.ap-n {
	appearance: none;
}

.us-n {
	user-select: none;
}

.fx-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h-100 {
	height: 100%;
}

.ov-h {
	overflow: hidden !important;
}

.bg-cover {
	background: center no-repeat;
	background-size: cover;
}

.bg-contain {
	background: center no-repeat;
	background-size: contain;
}

.text-editor {

	ul {
		margin-bottom: 1rem;
		padding-left: 40px;
		list-style: initial;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: .5rem;
	}
	
	p {
		margin-bottom: 1rem;
	}

	a {
		display: inline;
		text-decoration: underline;
		color: $colorBase;

		&:hover,
		&:focus {
			color: $colorBase;
		}
	}
}
/*========== Custom Classes ==========*/







/* Internet Explorer
=================================================================*/
.ie_bx {
	width: 100%;
	padding-top: 100px;
	position: fixed;
	z-index: 10010;
	text-align: center;

	h2 {

		& + & {
			margin-top: 20px;
		}

		a {
			text-decoration: underline;
		}
	}
}
.ie_bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background-color: rgba(#fff, 0.88);
}
/*========== Internet Explorer ==========*/









/* Standards
=================================================================*/
.btn {
	font-family: $fontSecond;
	font-size: 14px;
	font-weight: 400;
	box-shadow: none !important;

	&.color_base {
		@include ButtonDark($colorBase);
		color: #fff !important;
	}
	
	
	&.color_alert {
		@include ButtonDark($colorAlert);
		color: #fff !important;
	}
}


.form-control {
	height: auto !important;
	padding: 10px 12px;
	border: 1px solid $colorBorder !important;
	border-radius: 0;
	font-size: 12px;
	box-shadow: none !important;
	background: #f9f9f9;
	color: inherit;
	
	&:focus {
		background-color: transparent;
	}
	
	
	&:disabled,
	&.disabled {
		cursor: not-allowed;
		background: $colorBorder;
	}
}


.base_title {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 700;
}


.base_menu {
	display: flex;
	margin-bottom: 20px;
	
	> li {
		
		&:not(:last-of-type) {
			margin-right: 15px;
		}
		
		
		a {
			padding: 2px 7px;
			border: 1px solid transparent;
			border-radius: 4px;
			color: #787a7d;
		}
		
		
		&.active a,
		a:hover {
			border-color: $colorBase;
			color: inherit;
		}
	}
}


.base_more {
	margin-top: 15px;
	
	@at-root .base_more_btn {
		color: $colorBase;
		
		.txt {
			
		}
		
		
		i {
			vertical-align: middle;
			margin-left: 4px;
		}
	}
}


.base_hr {
	margin: 35px 0;
	
	@at-root .base_hr_line {
		height: 1px;
		background: $colorBorder;
	}
}


.base_input_solid {
	display: block;
	width: 100%;
	padding: 6px 12px;
	border: 1px solid #f4f4f4;
	border-radius: 4px;
	background: #f4f4f4;
	
	&:focus {
		background-color: transparent;
	}
}


.base_star_bx {
	display: flex;

	@at-root .base_star {
		display: flex;

		i {
			padding: 0 4px;
			font-size: 18px;
			color: #cbcbcb;

			&.active {
				color: $colorBase;
				
				&::before {
					content: "\f005";
				}
			}
		}
	}
	
	
	&.rate {
		
		.base_star {
			
			i {
				cursor: pointer;

				&:hover ~ i {
					color: #cbcbcb;

					&::before {
						content: "\f006";
					}
				}
			}
			
			
			&:hover i {
				color: $colorBase;

				&::before {
					content: "\f005";
				}
			}
		}
	}
}


.base_bread {
	margin-bottom: 30px;
	
	@at-root .base_bread_ls {
		display: flex;
		
		> li {
			font-size: 12px;
			color: $colorBase;
			
			& + li::before {
				content: '/';
				margin: 0 5px;
				color: #484849;
			}
			
			
			a {
				text-decoration: underline;
				color: #484849;
				
				&:hover {
					color: $colorAlert;
				}
			}
		}
	}
}


.per_cab_menu {
	border: 1px solid $colorBorder;
	@extend %box_shadow;
	
	@at-root .per_cab_menu_ttl {
		padding: 0 15px;
		
		h4 {
			padding: 17px 0;
			border-bottom: 1px solid $colorBase;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
		}
	}
	
	
	@at-root .per_cab_menu_cnt {
		
		@at-root .per_cab_menu_ls {
			
			> li {
				
				a {
					display: block;
					padding: 13px 15px;
					font-size: 13px;
					
					&:hover {
						background: #f8f8f8;
						color: inherit;
					}
				}
				
				
				&.active a {
					background: $colorBase;
					color: #fff;
				}
			}
		}
	}
}



.equal-offsets {
	margin: -15px;

	> .col,
	> [class*=col-] {
		padding: 15px;
	}
}


.container_width {
	padding: 0 15px;
}


.pc_inp {
	width: 50px;
	height: 25px;
	padding: 0;
	border: 1px solid $colorBorder;
	font-size: 13px;
}


.pag_first {
	display: flex;
	
	> li {
		
		&:not(:last-of-type) {
			margin-right: 3px;
		}
		
		
		a {
			display: block;
			width: 28px;
			height: 28px;
			line-height: 28px;
			border: 1px solid transparent;
			border-radius: 4px;
			text-align: center;
			font-size: 13px;
			color: $colorBase;

			&:hover {
				border-color: $colorBorder;
			}
		}
		
		
		&.active a {
			border-color: $colorBorder;
			background: #fcfcfc;
			color: inherit;
		}
	}
}


.pag_second {
	display: flex;
	align-items: center;
	font-size: 13px;
	
	@at-root .pag_second_txt {
		margin-right: 30px;
		color: #8a9c9e;
	}
	
	
	@at-root .pag_second_ls {
		display: flex;
		
		> li {
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: 3px;
			overflow: hidden;
			text-align: center;
			background: $colorBorder;
			
			&:not(:last-of-type) {
				margin-right: 3px;
			}
			
			
			a {
				display: block;
			}
			
			
			&.active a,
			a:hover {
				background: $colorBase;
				color: #fff;
			}
		}
	}
}


.pc_action_btn_bx {
	
	@at-root .pc_action_btn {
		display: block;
		width: 100%;
		padding: 2px;
		font-size: 13px;
		@include ButtonDark(#ededef);
	}
}



.input_type {
	vertical-align: middle;
	margin-bottom: 0;
	cursor: pointer;
	
	
	.inp {

	}


	.sign {
		width: 18px;
		height: 18px;
		border: 1px solid $colorBorder;

		&::before {
			content: '';
			display: block;
			opacity: 0;
			transition: all .2s;
		}
	}


	&:hover .sign {
		border-color: $colorBase;
	}


	.inp:checked ~ .sign {
		border-color: $colorBase;

		&::before {
			opacity: 1;
		}
	}


	&.text {
		min-height: 18px;
		padding-left: 30px;
		position: relative;
		font-size: 13px;
		
		.sign {
			position: absolute;
			left: 0;
			top: 1px;
		}
	}
	
	
	&.checkbox {

		.sign {

			&::before {
				width: 10px;
				height: 5px;
				margin-top: -3px;
				border: 2px solid $colorBase;
				border-top: 0;
				border-right: 0;
				transform: rotate(-45deg) scale(0);
			}
		}


		.inp:checked ~ .sign {

			&::before {
				transform: rotate(-45deg) scale(1);
			}
		}
	}


	&.radio {

		.sign {
			border-radius: 50%;

			&::before {
				width: 8px;
				height: 8px;
				border-radius: 50%;
				transform: scale(0);
				background: $colorBase;
			}
		}


		.inp:checked ~ .sign {

			&::before {
				transform: scale(1);
			}
		}
	}
}


.filter_group {
	
	& + & {
		margin-top: 30px;
	}
	
	
	@at-root .filter_group_ttl {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 13px;
		border-radius: 4px;
		cursor: pointer;
		font-weight: 700;
		background: #f5f5f5;
		
		.txt {
			
		}
		
		
		i {
			transition: all .3s;
		}
		
		
		&.active {
			
			i {
				transform: rotate(180deg);
			}
		}
	}
	
	
	@at-root .filter_group_cnt {
		
	}
}
/*========== Standards ==========*/




















/* Header
*****************************************************************************************************/
@at-root .header {
	
}


/* Header Head
=================================================================*/
@at-root .hdr_hd {
	padding: 9px 0;
	font-size: 12px;
	background: #5a5a5b;
	color: #fff;
	
	@at-root .hdr_hd_col {
		padding: 0 15px;
		
		@at-root .hdr_hd_ctt {
			display: flex;
			
			@at-root .hdr_hd_ctt_tel {
				margin-right: 35px;
				
				a {

				}
			}


			@at-root .hdr_hd_ctt_back {

				a {

				}
			}
		}


		@at-root .hdr_hd_act {
			display: flex;
			align-items: center;
			
			@at-root .hdr_hd_app_ls {
				display: flex;
				
				> li {
					
					& + li {
						margin-left: 20px;
					}
					
					a {
						width: 22px;
						height: 22px;
						line-height: 22px;
						text-align: center;
						font-size: 15px;
						color: #b2b2b2;
						
						&:hover {
							color: #fff;
						}
						
						i {
							
							&.fa-paper-plane {
								font-size: 13px;
							}
						}
					}
				}
			}


			@at-root .hdr_hd_reg {
				margin: 0 40px;
				
				a {

					&:first-of-type {
						margin-right: 25px;
					}
				}
			}


			@at-root .hdr_hd_lang {

				@at-root .hdr_hd_lang_sel {
					position: relative;
					
					select {
						width: 30px;
						border: 0;
						position: relative;
						z-index: 3;
						background: transparent;
						color: inherit;
						
						option {
							color: #000;
						}
					}


					i {
						height: 12px;
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						margin: auto;
					}
				}
			}
		}
	}
}
/*========== Header Head ==========*/






/* Header Body
=================================================================*/
@at-root .hdr_bd {
	padding: 15px 0;
	
	
	@at-root .hdr_bd_inner {
		position: relative;

		@at-root .hdr_bd_logo {
			margin-bottom: 20px;

			a {

				img {

				}
			}
		}


		@at-root .hdr_bd_cat_btn_bx {
			position: relative;
			
			@at-root .hdr_bd_cat_btn {
				display: block;
				max-width: 200px;
				padding: 11px 16px;
				text-transform: uppercase;
				font-size: 12px;
				background: $colorAlert;
				color: #fff !important;

				&.active,
				&:hover {
					background: darken($colorAlert, 10%);
				}
				
				
				.txt {

				}


				i {
					margin-left: 7px;
				}
			}
			
			
			@at-root .cat_menu_bx {
				position: absolute;
				left: -15px;
				top: calc(100% + 10px);
				z-index: 99;
				opacity: 0;
				visibility: hidden;
				transform: translateY(-30px);
				transition: all .3s;
				
				&.active {
					opacity: 1;
					visibility: visible;
					transform: none;
				}
				
				
				@at-root .cat_menu {
					display: flex;
					width: 25%;
					font-family: $fontSecond;
					font-size: 12px;
					box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);

					&:hover {
						width: 100%;
					}
					
					
					@at-root .cat_menu_ls {
						width: 100%;
						background: #f5f5f5;

						@at-root .cat_menu:hover & {
							width: 25%;
						}
						

						> li {

							a {
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 9px 20px;
								text-transform: uppercase;
								color: inherit !important;
								
								.txt {
									
								}


								i {
									margin-left: 15px;
								}
							}
							
							
							&.active a,
							a:hover {
								background: #fff;
							}
						}
					}


					@at-root .cat_drop {
						display: none;
						overflow: hidden;
						width: 75%;

						@at-root .cat_menu:hover & {
							display: block;
						}
						

						@at-root .cat_drop_it {
							display: none;
							min-height: 100%;
							border: 1px solid #f5f5f5;
							border-left: 0;
							
							&.active {
								display: flex;
							}


							@at-root .cat_drop_menu {
								display: flex;
								width: 77%;

								@at-root .cat_drop_menu_col {
									width: 50%;
									padding: 10px 25px;
									background: #fff;
									animation: catLeftSlide .5s both;
									@keyframes catLeftSlide {
										0% {
											opacity: 0;
											transform: translateX(-100px);
										}
										100% {
											opacity: 1;
											transform: translateX(0px);
										}
									}


									& + & {
										border-left: 1px solid #f5f5f5;
									}
									
									
									&:nth-of-type(1) {
										
									}
									
									
									&:nth-of-type(2) {
										animation-delay: .1s;
									}
									
									
									@at-root .cat_drop_menu_ls {

										> li {

											a {
												padding: 7px 0;
											}
											
											
											&.active a,
											a:hover {
												color: $colorAlert;
											}
										}
									}
								}
							}


							@at-root .cat_drop_rek {
								width: 33%;
								animation: catLeftSlide .5s .3s both;


								a {
									display: block;
									height: 100%;
									
									img {
										display: block;
										width: 100%;
										height: 100%;
										object-fit: cover;
									}
								}
							}
						}
					}
				}
			}
		}


		@at-root .hdr_bd_info {
			display: flex;
			margin-bottom: 20px;

			@at-root .hdr_bd_city {
				flex: 1 1 auto;
				display: flex;

				@at-root .hdr_bd_city_it {
					flex: 1 1;

					& + & {
						margin-left: 15px;
					}


					@at-root .hdr_bd_city_sel {
						position: relative;
						font-size: 12px;

						select {
							padding-right: 20px;
						}


						i {
							height: 12px;
							position: absolute;
							right: 10px;
							top: 0;
							bottom: 0;
							margin: auto;
							pointer-events: none;
						}
					}
				}
			}


			@at-root .hdr_bd_stbar {
				flex: 0 0 auto;
				display: flex;
				align-items: center;
				margin-left: 30px;

				@at-root .hdr_bd_tel {
					margin-right: 30px;

					p {
						line-height: 1.3;
						text-align: right;

						&.tel {
							font-family: $fontSecond;
							font-size: 16px;
							font-weight: 700;
						}


						&.capt {
							font-size: 13px;
							color: #b2b2b2;
						}
					}
				}


				@at-root .hdr_bd_wish {
					margin-right: 30px;

					@at-root .hdr_bd_wish_btn {
						position: relative;
						font-size: 32px;

						i {

							&.fa-heart-o {
								display: block;
							}


							&.fa-heart {
								display: none;
							}
						}


						.val {
							display: block;
							line-height: 17px;
							padding: 0 5px;
							border-radius: 100px;
							position: absolute;
							top: 3px;
							right: -6px;
							text-align: center;
							font-family: $fontSecond;
							font-size: 12px;
							background: $colorAlert;
							color: #fff;
						}


						&.active {

							i {

								&.fa-heart-o {
									display: none;
								}


								&.fa-heart {
									display: block;
									color: $colorAlert;
								}
							}


							.val {
								background: #484849;
							}
						}
					}
				}


				@at-root .hdr_bd_cart {

					@at-root .hdr_bd_cart_btn {
						display: flex;
						align-items: center;
						padding: 10px;
						border: 1px solid transparent;
						border-radius: 10px;

						&.active {
							border-color: $colorBorder;
						}


						@at-root .hdr_bd_cart_img {
							position: relative;
							margin-right: 23px;

							.img {
								max-height: 32px;
							}


							.val {
								display: block;
								line-height: 17px;
								padding: 0 5px;
								border-radius: 100px;
								position: absolute;
								top: 2px;
								right: -11px;
								text-align: center;
								font-family: $fontSecond;
								font-size: 12px;
								background: $colorAlert;
								color: #fff;
							}
						}


						@at-root .hdr_bd_cart_txt {
							line-height: 1.1;
							text-align: center;
							font-size: 13px;

							p {

							}
						}
					}
				}
			}
		}


		@at-root .hdr_bd_search_bx {

			@at-root .hdr_bd_search {
				position: relative;
				
				@at-root .hdr_bd_search_inp {
					height: 42px;
					padding-left: 15px;
					padding-right: 110px;
					font-size: 13px;
				}


				@at-root .hdr_bd_search_btn {
					width: 100px;
					height: 42px;
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}
	}
}
/*========== Header Body ==========*/






/* Header Foot
=================================================================*/
@at-root .hdr_ft {
	
	@at-root .navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 13px;
		background: $colorBase;
		color: #fff;
		
		@at-root .nav_menu {
			
			@at-root .nav_menu_ls {
				display: flex;
				
				> li {
					
					a {
						padding: 18px 25px;
						text-transform: uppercase;
						font-family: $fontSecond;
						@include ButtonDark($colorBase);
						color: inherit !important;
					}
				}
			}
		}
		
		
		@at-root .nav_scl {
			
			@at-root .nav_scl_ls {
				display: flex;
				padding-right: 20px;
				
				> li {
					
					& + li {
						margin-left: 15px;
					}
					
					
					a {
						
						i {
							display: block;
							width: 30px;
							height: 30px;
							line-height: 30px;
							text-align: center;
						}
					}
				}
			}
		}
	}
	
	
	@at-root .hdr_ft_bnr_bx {
		
		@at-root .hdr_ft_bnr {
			
			@at-root .hdr_ft_bnr_it {
				position: relative;
				
				@at-root .hdr_ft_bnr_img {
					display: block;
					width: 100%;
					height: 320px;
					object-fit: cover;
				}
				
				
				@at-root .hdr_ft_bnr_capt_bx {
					display: flex;
					align-items: center;
					max-width: 400px;
					padding-left: 80px;
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					
					@at-root .hdr_ft_bnr_capt {
						color: #58585b;
						
						@at-root .hdr_ft_bnr_capt_hd {
							margin-bottom: 15px;
							line-height: 1.2;
							text-transform: uppercase;
							font-family: $fontSecond;
							font-size: 24px;
							font-weight: 300;
						}
						
						
						@at-root .hdr_ft_bnr_capt_bd {
							margin-bottom: 25px;
							font-size: 13px;
						}
						
						
						@at-root .hdr_ft_bnr_capt_ft {
							
							@at-root .hdr_ft_bnr_capt_btn {
								padding: 5px 14px;
							}
						}
					}
				}
			}
		}
	}
}
/*========== Header Foot ==========*/

/*********** Header ***********/















/* Main
*****************************************************************************************************/
.main {
	
}




/* Reklama
=================================================================*/
@at-root .rek_sec {
	margin-bottom: 30px;
	
	@at-root .rek {
		
		@at-root .rek_ttl {
			padding: 20px 0;
			
			@at-root .rek_nav {
				display: flex;
				justify-content: space-between;
				align-items: center;
				
				@at-root .rek_nav_main {
					display: flex;
					align-items: center;
					
					a {
						border-bottom: 1px solid;
						text-transform: uppercase;
						font-size: 13px;
					}
					
					
					.txt {
						display: block;
						margin-left: 12px;
						padding: 2px 6px;
						border-radius: 6px;
						position: relative;
						font-size: 11px;
						background: $colorAlert;
						color: #fff;
						
						&::before {
							content: '';
							display: block;
							width: 0;
							height: 0;
							border: 4px solid transparent;
							border-right-color: $colorAlert;
							position: absolute;
							right: 100%;
							top: 0;
							bottom: 0;
							margin: auto;
						}
					}
				}
				
				
				@at-root .rek_nav_ls {
					display: flex;
					
					> li {
						
						& + li {
							margin-left: 20px;
						}
						
						
						a {
							
						}
					}
				}
			}
		}
		
		
		@at-root .rek_cnt {
			
			@at-root .rek_bnr_bx {
				position: relative;
				
				@at-root .rek_bnr {
					
					@at-root .rek_bnr_it {
						display: block;
						position: relative;
						
						@at-root .rek_bnr_img {
							display: block;
							width: 100%;
							height: 250px;
							object-fit: cover;
						}
						
						
						@at-root .rek_bnr_capt_bx {
							display: flex;
							align-items: center;
							width: 450px;
							padding-left: 80px;
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							
							@at-root .rek_bnr_capt {
								line-height: 1;
								font-family: $fontSecond;
								font-size: 30px;
								font-weight: 300;
								color: #00509f;
							}
						}
					}
				}
				
				
				@at-root .rek_bnr_nav {
					
					@at-root .rek_bnr_btn {
						width: 30px;
						height: 40px;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						cursor: pointer;
						font-size: 18px;
						background: #f1f1f3;
						color: $colorBase;
						
						&.prev {
							left: 0;
						}
						
						
						&.next {
							right: 0;
						}
						
						
						i {
							
						}
					}
				}
			}
		}
	}
}
/*========== Reklama ==========*/






/* Brand
=================================================================*/
@at-root .brand_idx_sec {
	
	@at-root .brand_idx {
		
		@at-root .brand_idx_ttl {
			
		}
		
		
		@at-root .brand_idx_menu {
			
		}
		
		
		@at-root .brand_idx_cnt {
			
			@at-root .brand_idx_it {
				height: 150px;
				padding: 15px;
				border: 1px solid $colorBorder;
				
				&:hover {
					border-color: #ef5350;
				}
				
				
				@at-root .brand_idx_it_img {
					max-width: 200px;
					max-height: 100px;
				}
			}
		}
		
		
		@at-root .brand_idx_more {
			
		}
	}
}
/*========== Brand ==========*/






/* Product
=================================================================*/
@at-root .prod_idx_sec {
	margin-bottom: 60px;
	
	@at-root .prod_idx {
		
		@at-root .prod_idx_ttl {
			
		}
		
		
		@at-root .prod_idx_menu {
			
		}
		
		
		@at-root .prod_idx_cnt {
			
			@at-root .product_v {
				padding: 20px;
				border: 1px solid $colorBorder;
				@extend %box_shadow;
				
				&:hover {
					border-color: $colorBase;
				}
				
				
				@at-root .product_v_hd {
					margin-bottom: 30px;
					position: relative;
					
					@at-root .product_v_img {
						height: 170px;
						
						.img {
							max-height: 100%;
						}
					}
					
					
					@at-root .product_v_like {
						position: absolute;
						top: 0;
						right: 0;
						font-size: 16px;
						color: #cecece;
						
						&:hover {
							color: $colorAlert;
						}
						
						
						i {
							
							&.fa-heart-o {
								display: block;
							}
							
							
							&.fa-heart {
								display: none;
							}
						}
						
						
						&.active {
							color: $colorAlert;

							i {

								&.fa-heart-o {
									display: none;
								}


								&.fa-heart {
									display: block;
								}
							}
						}
					}
					
					
					@at-root .product_v_ntf {
						width: 52px;
						height: 52px;
						border-radius: 50%;
						position: absolute;
						top: 0;
						left: 0;
						text-align: center;
						text-transform: uppercase;
						font-family: $fontSecond;
						font-size: 9px;
						font-weight: 600;
						color: #fff;
						
						
						&.blue {
							background: #03a9f4;
						}
						
						
						&.green {
							background: #8bc34a;
						}
					}
				}
				
				
				@at-root .product_v_bd {
					@include TextMask(63, 21);
					margin-bottom: 15px;
					
					p {
						
					}
				}
				
				
				@at-root .product_v_ft {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-top: 15px;
					border-top: 1px solid $colorBorder;
					
					@at-root .product_v_price_bx {
						line-height: 1.3;
						text-align: right;
						font-family: $fontSecond;
						
						@at-root .product_v_price {
							font-size: 16px;
							
							.val {
								font-weight: 800;
							}
							
							
							&.txt {
								
							}
						}
						
						
						@at-root .product_v_discount {
							text-decoration: line-through;
							font-size: 13px;
							color: $colorAlert;
						}
					}
					
					
					@at-root .product_v_btn_bx {
						
						@at-root .product_v_btn {
							padding: 5px 20px;
						}
					}
				}
			}
		}
		
		
		@at-root .prod_idx_more {
			
		}
	}
}
/*========== Product ==========*/






/* Client
=================================================================*/
@at-root .client_idx_sec {
	margin-bottom: 30px;
	padding: 35px 0;
	background: #f5f5f5;
	
	@at-root .client_idx {
		
		@at-root .client_idx_ttl {
			
		}
		
		
		@at-root .client_idx_cnt {
			
			@at-root .client_idx_bnr_bx {
				position: relative;
				
				@at-root .client_idx_bnr {
					padding: 0 22px;

					.owl-item {
						padding: 0 8px;
					}
					
					
					@at-root .client_idx_bnr_it {
						height: 120px;
						padding: 15px;
						background: #fff;
						
						.img {
							max-height: 100%;
						}
					}
				}
				
				
				@at-root .client_idx_bnr_nav {
					
					@at-root .client_idx_bnr_btn {
						display: flex;
						align-items: center;
						width: 30px;
						height: 50px;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						cursor: pointer;
						font-size: 20px;
						color: #d3d3d3;
						
						&:hover {
							color: $colorAlert;
						}
						
						
						&.prev {
							justify-content: flex-start;
							left: 0;
						}
						
						
						&.next {
							justify-content: flex-end;
							right: 0;
						}
						
						
						i {
							
						}
					}
				}
			}
		}
	}
}
/*========== Client ==========*/






/* News
=================================================================*/
@at-root .news_idx_sec {
	
	@at-root .news_idx {
		
		@at-root .news_idx_ttl {
			
		}
		
		
		@at-root .news_idx_cnt {
			
			@at-root .news_idx_it {
				border: 1px solid $colorBorder;
				
				@at-root .news_idx_it_img {
					display: block;
					position: relative;
					
					.img {
						display: block;
						width: 100%;
						height: 140px;
						object-fit: cover;
					}
					
					
					@at-root .news_idx_it_date {
						padding: 7px 20px;
						position: absolute;
						left: 0;
						bottom: 0;
						font-family: $fontSecond;
						font-size: 13px;
						background: $colorBase;
						color: #fff;
					}
				}
				
				
				@at-root .news_idx_it_txt {
					padding: 20px;
					
					@at-root .news_idx_it_name {
						@include TextMask(48, 24);
						margin-bottom: 15px;
						font-size: 16px;
						font-weight: 700;
					}
					
					
					@at-root .news_idx_it_desc {
						@include TextMask(57, 19);
						font-size: 13px;
						
						p {
							
						}
					}
				}
			}
		}
		
		
		@at-root .news_idx_more {
			
		}
	}
}
/*========== News ==========*/






/* About
=================================================================*/
@at-root .about_idx_sec {
	margin-bottom: 60px;
	
	@at-root .about_idx {
		
		@at-root .about_idx_ttl {
			
		}
		
		
		@at-root .about_idx_cnt {
			font-size: 13px;

			p {
				
			}
		}
	}
}
/*========== About ==========*/

/*********** Main ***********/















/* Footer
*****************************************************************************************************/
.footer {
	
}



/* Alphabet
=================================================================*/
@at-root .alphabet_sec {
	padding: 60px 0;
	background: #e6f6f7;
	
	@at-root .alphabet {
		
		@at-root .alphabet_ttl {
			
		}
		
		
		@at-root .alphabet_cnt {
			
			@at-root .alphabet_signs {
				letter-spacing: 10px;
				text-transform: uppercase;
				font-size: 13px;
				color: $colorLink;
				
				.letter {
					
					a {
						
					}
				}
				
				
				.number {
					
					a {
						
					}
				}
			}
		}
	}
}


@at-root .no_alphabet_line {
	height: 2px;
	background: $colorBase;
}
/*========== Alphabet ==========*/






/* Foot Base
=================================================================*/
@at-root .foot_base_sec {
	
	@at-root .foot_base {
		
		@at-root .foot_bd {
			display: flex;
			padding: 40px 0;
			
			@at-root .foot_logo_bx {
				flex: 0 0 auto;
				width: 260px;
				
				@at-root .foot_logo {
					margin-bottom: 20px;
					
					a {
						
						img {
							
						}
					}
				}
				
				
				@at-root .foot_scl_ls {
					display: flex;
					
					> li {
						
						&:not(:last-of-type) {
							margin-right: 15px;
						}
						
						
						a {
							display: block;
							width: 32px;
							height: 32px;
							line-height: 32px;
							border-radius: 50%;
							text-align: center;
							font-size: 16px;
							background: $colorBase;
							color: #fff !important;
							
							&:hover {
								background: $colorAlert;
							}
							
							
							i {
								
								&.fa-paper-plane {
									font-size: 15px;
								}
							}
						}
					}
				}
			}
			
			
			@at-root .foot_nav {
				flex: 1 1 auto;
				margin-left: 30px;
				margin-right: 15px;
				
				@at-root .foot_menu {
					
					@at-root .foot_menu_name {
						margin-bottom: 15px;
						text-transform: uppercase;
						font-weight: 700;
						color: $colorBase;
					}
					
					
					@at-root .foot_menu_ls {
						
						> li {
							
							& + li {
								margin-top: 5px;
							}
							
							
							a {
								font-size: 13px;
							}
						}
					}
				}
			}
			
			
			@at-root .foot_app {
				flex: 0 0 auto;
				
				@at-root .foot_app_ls {
					
					> li {
						
						& + li {
							margin-top: 10px;
						}
						
						
						a {
							height: 42px;
							width: 160px;
							border-radius: 4px;
							background: #ccc;
							
							img {
								max-height: 100%;
							}


							&.apple {
								@include ButtonLight(#545454);
								
								img {
								
								}
							}

							&.google {
								@include ButtonLight(#9c9c9c);
								
								img {
								
								}
							}

							&.telegram {
								@include ButtonLight(#15a5db);

								img {
								
								}
							}
						}
					}
				}
			}
		}
		
		
		@at-root .foot_ft {
			display: flex;
			justify-content: space-between;
			padding: 17px 0;
			border-top: 1px solid $colorBorder;
			font-size: 13px;
			
			@at-root .foot_copy {
				
			}
			
			
			@at-root .foot_made {
				
				a {
					border-bottom: 1px solid;
					color: $colorBase;
					
					&:hover {
						color: $colorAlert;
					}
				}
			}
		}
	}
}
/*========== Foot Base ==========*/

/*********** Footer ***********/















/* About Company
*****************************************************************************************************/

/* Description
=================================================================*/
@at-root .about_desc_sec {
	padding-top: 30px;
	
	@at-root .about_desc {
		
		@at-root .about_desc_ttl {
			
		}
		
		
		@at-root .about_desc_cnt {
			
			@at-root .about_desc_hd {
				
			}
			
			
			@at-root .about_desc_bd {
				margin: 30px 0;
				padding: 30px 0;
				background: #f5f5f5;
				
				@at-root .about_desc_bd_img {
					text-align: center;
					
					img {
						margin-bottom: -30px;
						margin-top: -50px;
					}
				}
			}
			
			
			@at-root .about_desc_ft {
				
			}
		}
	}
}
/*========== Description ==========*/




/* Comment
=================================================================*/
@at-root .about_cmt_sec {
	margin-bottom: 60px;
	
	@at-root .about_cmt {
		
		@at-root .about_cmt_ttl {
			
		}
		
		
		@at-root .about_cmt_cnt {
			
			@at-root .about_cmt_wr {
				margin-bottom: 60px;
				
				@at-root .about_cmt_wr_field {
					
					@at-root .about_cmt_wr_field_bd {
						margin-bottom: 20px;
						
						@at-root .about_cmt_wr_txtar {
							height: 280px;
						}
					}
					
					
					@at-root .about_cmt_wr_field_ft {
						display: flex;
						justify-content: flex-end;
						align-items: center;
						
						@at-root .about_cmt_wr_star {
							display: flex;
							align-items: center;
							margin-right: 30px;
							
							.txt {
								margin-right: 10px;
							}
							
							
							.base_star_bx {
								
							}
						}
						
						
						@at-root .about_cmt_wr_btn {
							padding: 6px 20px;
						}
					}
				}
				
				
				@at-root .about_cmt_wr_stat {
					
					@at-root .about_cmt_wr_stat_all {
						display: flex;
						align-items: center;
						margin-bottom: 30px;
						
						.base_star_bx {
							margin-right: 10px;
							
							i {
								font-size: 24px;
							}
						}
						
						
						.txt {
							font-weight: 700;
						}
					}
					
					
					@at-root .about_cmt_wr_stat_info {
						
						@at-root .about_cmt_wr_stat_info_hd {
							margin-bottom: 10px;
							font-size: 18px;
						}
						
						
						@at-root .about_cmt_wr_stat_info_bd {
							margin-bottom: 10px;
							
							@at-root .about_cmt_wr_stat_info_ls {
								
								> li {
									display: flex;
									align-items: center;
									
									& + li {
										margin-top: 10px;
									}
									
									
									.base_star_bx {
										margin-right: 15px;
									}
									
									
									.txt {
										
									}
								}
							}
						}
						
						
						@at-root .about_cmt_wr_stat_info_ft {
							
							@at-root .about_cmt_wr_stat_info_btn {
								color: $colorBase;
							}
						}
					}
				}
			}
			
			
			@at-root .about_cmt_it_bx {
				
				@at-root .about_cmt_it_ls {
					
					> li {
						
						& + li {
							margin-top: 15px;
						}
						
						
						@at-root .about_cmt_it {
							padding: 20px;
							border: 1px solid $colorBorder;
							
							@at-root .about_cmt_it_ttl {
								display: flex;
								align-items: center;
								margin-bottom: 10px;
								
								.name {
									margin-right: 20px;
									font-size: 16px;
									font-weight: 700;
								}
								
								
								.base_star_bx {
									
									i {
										font-size: 16px;
									}
								}
							}
							
							
							@at-root .about_cmt_it_cnt {
								
							}
						}
					}
				}
				
				
				@at-root .about_cmt_it_mr {
					
					i {
						transform: rotate(90deg);
						margin-left: 7px;
					}
				}
			}
		}
	}
}
/*========== Comment ==========*/

/*********** About Company ***********/













/* Advertising
*****************************************************************************************************/
@at-root .ads_sec {
	margin-bottom: 60px;
	
	@at-root .ads {
		
		@at-root .ads_ttl {
			
		}
		
		
		@at-root .ads_cnt {
			
			@at-root .ads_text {
				margin-bottom: 50px;
			}
			
			
			@at-root .ads_img_bx {
				margin-bottom: 60px;
				
				@at-root .ads_img {
					display: block;
					width: 100%;
					height: 280px;
					object-fit: cover;
				}
			}
			
			
			@at-root .ads_app {
				
				@at-root .ads_app_ttl {
					margin-bottom: 15px;
					font-size: 16px;
					font-weight: 700;
				}
				
				
				@at-root .ads_app_cnt {
					
					@at-root .ads_app_form {
						
						@at-root .ads_app_form_inp {
							
						}
						
						
						@at-root .ads_app_form_txtar {
							
						}
						
						
						@at-root .ads_app_form_btn {
							padding: 6px 30px;
						}
					}
					
					
					@at-root .ads_app_img {
						padding-top: 20px;
						text-align: center;
						
						img {
							
						}
					}
				}
			}
		}
	}
}
/*********** Advertising ***********/













/* Order Archive
*****************************************************************************************************/
@at-root .per_cab_sec {
	margin-bottom: 60px;
	
	@at-root .per_cab {
		
		@at-root .per_cab_bread {
			
		}
		
		
		@at-root .per_cab_ttl {
			
		}
		
		
		@at-root .per_cab_cnt {
			
			@at-root .per_cab_asd {
				
				@at-root .per_cab_asd_it {
					
					& + & {
						margin-top: 40px;
					}
					
					
					@at-root .per_cab_rek {
						display: block;
						
						img {
							width: 100%;
						}
					}
				}
			}
			
			
			@at-root .per_cab_main {
				
				@at-root .per_cab_tab {
					
					@at-root .per_cab_tab_ttl {
						display: flex;
						border-bottom: 1px solid $colorBase;
						
						a {
							padding: 8px 15px;
							border-radius: 5px 5px 0 0;
							font-weight: 700;
							background: #ededef;
							
							& + a {
								margin-left: 1px;
							}
							
							
							&.active,
							&:hover {
								background: $colorBase;
								color: #fff;
							}
						}
					}
					
					
					@at-root .per_cab_tab_cnt {
						
						.tab-pane {
							
						}
						
						
						@at-root .ord_arch_bx {
							padding-top: 30px;
							
							@at-root .ord_arch {
								
								& + & {
									margin-top: 30px;
								}
								

								@at-root .ord_arch_ttl {
									margin-bottom: 10px;
									font-size: 16px;
									font-weight: 700;
								}
								
								
								@at-root .ord_arch_cnt {
									padding: 20px;
									border: 1px solid $colorBorder;
									@extend %box_shadow;
									
									@at-root .ord_arch_hd {
										display: flex;
										justify-content: space-between;
										font-size: 13px;
										
										.left {
											margin-right: 20px;
										}
										
										
										.right {
											min-width: 220px;
										}
										
										
										p {
											
											& + p {
												margin-top: 5px;
											}
											
											
											a {
												color: $colorLink;
												
												&:hover {
													color: $colorAlert;
												}
											}
											
											
											&.merge {
												display: flex;
												
												span {

													& + span {
														margin-left: 15px;
													}
												}
											}
										}
									}
									
									
									@at-root .ord_arch_bd {
										margin: 15px 0;
										padding: 15px 0;
										border: 1px solid $colorBorder;
										border-left: 0;
										border-right: 0;
										
										
										@at-root .ord_arch_prod {
											
											& + & {
												margin-top: 15px;
												padding-top: 15px;
												border-top: 1px solid $colorBorder;
											}
											
											
											.row {
												margin: 0 -10px;
												
												> .col {
													flex: 0 0 auto;
													padding: 0 10px;
												}
											}
											
											
											@at-root .ord_arch_prod_desc {
												width: 65%;
												
												@at-root .pc_prod {
													display: flex;
													
													@at-root .pc_prod_img {
														flex: 0 0 auto;
														width: 150px;
														height: 105px;
														margin-right: 15px;
														padding: 10px;
														border: 1px solid $colorBorder;
														position: relative;
														
														&:hover {
															border-color: $colorAlert;
														}
														
														
														img {
															max-height: 100%;
														}
														
														
														@at-root .pc_prod_like {
															position: absolute;
															right: 5px;
															top: 5px;
															color: #cecece;
															
															i {
																
																&.fa-heart-o {
																	display: block;
																}


																&.fa-heart {
																	display: none;
																}
															}
															
															
															&.active {
																color: $colorAlert;
																
																i {

																	&.fa-heart-o {
																		display: none;
																	}


																	&.fa-heart {
																		display: block;
																	}
																}
															}
														}
													}
													
													
													@at-root .pc_prod_txt {
														
														@at-root .pc_prod_title {
															margin-bottom: 15px;
															font-size: 12px;
															color: #b2b2b2;
														}
														
														
														@at-root .pc_prod_desc {
															display: block;
															@include TextMask(42, 21, false);
															margin-bottom: 10px;
														}
														
														
														@at-root .pc_prod_art_bx {
															display: flex;
															align-items: center;
															
															@at-root .pc_prod_art {
																font-size: 13px;
																color: $colorBase;
															}
															
															
															@at-root .pc_prod_date {
																margin-left: 20px;
																font-size: 11px;
																color: #b2b2b2;
															}
														}
													}
												}
											}
											
											
											@at-root .ord_arch_prod_qty {
												width: 13%;
												
												@at-root .pc_prod_qty {
													
													@at-root .pc_prod_qty_text {
														font-size: 13px;
													}
													
													
													@at-root .pc_prod_qty_ctrl {
														display: flex;
														
														.bt {
															width: 25px;
															height: 25px;
															border: 1px solid $colorBorder;
															font-size: 10px;
															background: #f4f4f4;
															
															&.minus {
																border-right: 0;
																border-radius: 3px 0 0 3px;
															}
															
															
															&.plus {
																border-left: 0;
																border-radius: 0 3px 3px 0;
															}
														}
														
														
														.inp {
															text-align: center;
															background: #f4f4f4;
														}
														
														
														&.disabled {

															.bt {
																display: none;
															}


															.inp {
																border-radius: 3px;
															}
														}
													}
													
													
													@at-root .pc_prod_qty_edit {
														
														.inp {
															padding: 0 7px;
															border-radius: 3px;
															
															&[disabled] {
																background: #f9f9f9;
															}
														}
													}
												}
											}
											
											
											@at-root .ord_arch_prod_prc {
												width: 22%;
												
												@at-root .pc_prod_prc {
													
													@at-root .pc_prod_prc_text {
														display: flex;
														
														@at-root .pc_prod_prc_text_inr {
															font-family: $fontSecond;
															
															.price {
																font-size: 16px;
															}
															
															
															.discount {
																text-align: right;
																text-decoration: line-through;
																font-size: 13px;
																color: $colorAlert;
															}
														}
													}
													
													
													@at-root .pc_prod_prc_edit {
														
														.inp {
															width: 80px;
															padding: 0 7px;
															border-radius: 3px;

															&[disabled] {
																background: #f9f9f9;
															}
														}
													}
												}
											}
										}
									}
									
									
									@at-root .ord_arch_ft {
										display: flex;
										justify-content: space-between;
										align-items: center;
										padding-bottom: 20px;
										
										@at-root .ord_arch_price_t {
											font-size: 13px;
											
											.txt {
												margin-right: 20px;
												color: #8f8f8f;
											}
											
											
											.val {
												font-family: $fontSecond;
												font-weight: 700;
											}
										}
										
										
										@at-root .ord_arch_btn {
											padding: 8px 30px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*********** Order Archive ***********/













/* Wish Product
*****************************************************************************************************/
@at-root .wish_prod {
	
	@at-root .wish_prod_ttl {
		margin-bottom: 20px;
	}
	
	
	@at-root .wish_prod_cnt {
		padding: 20px;
		border: 1px solid $colorBorder;
		@extend %box_shadow;
		
		@at-root .wish_prod_hd {
			
			a {
				margin-left: 5px;
				color: #787a7d;
				
				&:hover {
					color: $colorAlert;
				}
				
				
				i {
					vertical-align: middle;
					margin-left: 3px;
				}
			}
		}
		
		
		@at-root .wish_prod_bd {
			
			@at-root .wish_prod_it {
				
				@at-root .wish_prod_it_desc {
					width: 78%;
				}
				
				
				@at-root .wish_prod_it_prc {
					width: 22%;
				}
			}
		}
		
		
		@at-root .wish_prod_ft {
			
			.pag_first {
				
			}
		}
	}
}
/*********** Wish Product ***********/













/* PC Good (1, 2, create)
*****************************************************************************************************/

/* 1
=================================================================*/
@at-root .pc_good_1 {
	
	@at-root .pc_good_1_upl {
		display: flex;
		align-items: center;
		margin: 40px 0;
		
		@at-root .pc_good_1_upl_lbl {
			margin-bottom: 0px;
			
			.input-group-text {
				border-color: $colorBorder;
			}
			
			
			@at-root .pc_good_1_upl_inp {
				border-radius: 0 4px 4px 0 !important;
			}
		}
		
		
		@at-root .pc_good_1_upl_btn {
			flex: 0 0 auto;
			margin-left: 20px;
			padding: 10px 12px;
			line-height: 1.3;
		}
	}
	
	
	@at-root .pc_good_1_file {
		
		@at-root .pc_good_1_file_nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			padding-bottom: 7px;
			border-bottom: 1px solid $colorBorder;
			
			@at-root .pc_good_1_file_ttl {
				font-size: 16px;
				font-weight: 700;
			}
			
			
			@at-root .pc_good_1_file_act {
				display: flex;
				font-size: 13px;
				
				.bt {
					
					& + .bt {
						margin-left: 30px;
					}
					
					
					&:hover {
						color: $colorAlert;
					}
					
					
					i {
						margin-right: 5px;
					}
					
					
					&.down {
						
					}
					
					
					&.del {
						
					}
				}
			}
		}
		
		
		@at-root .pc_good_1_file_tb {
			width: 100%;
			
			tr {
				
				td {
					padding: 8px 0;
				}
			}
			
			
			thead {
				font-size: 12px;
				color: #b2b2b2;
				
				tr {

					td {
						padding-top: 0;
					}
				}
			}
			
			
			tbody {
				font-size: 13px;

				tr {

					td {

						&.check {
							width: 35px;
						}
						
						
						&.date {
							width: 180px;
							
							@at-root .pc_good_1_file_date {
								
							}
						}
						
						
						&.name {
							
							@at-root .pc_good_1_file_name {
								color: $colorLink;
							}
						}
					}
				}
			}
		}
	}
}
/*========== 1 ==========*/




/* 2
=================================================================*/
@at-root .pc_good_2 {
	
	@at-root .pc_good_2_ttl {
		margin: 40px 0 25px;
		position: relative;
	}
	
	
	@at-root .pc_good_2_cnt {
		padding: 15px 0;
		border-top: 1px solid $colorBorder;
		border-bottom: 1px solid $colorBorder;
		
		@at-root .pc_good_2_prod {
			
			@at-root .pc_good_2_prod_desc {
				width: calc(100% - 310px);
				
				.pc_prod {
					
				}
			}
			
			
			@at-root .pc_good_2_prod_qty {
				width: 75px;
				
				.pc_prod_qty {
					
				}
			}
			
			
			@at-root .pc_good_2_prod_prc {
				width: 105px;
				
				.pc_prod_prc {
					
				}
			}
			
			
			@at-root .pc_good_2_prod_act {
				width: 130px;
				
				.pc_action_btn_bx {
					padding-top: 33px;
				}
			}
		}
	}
}
/*========== 2 ==========*/




/* create
=================================================================*/
@at-root .pc_good_create {
	padding-top: 40px;
	
	@at-root .pc_good_create_ttl {
		margin-bottom: 25px;
		font-size: 16px;
		font-weight: 700;
	}
	
	
	@at-root .pc_good_create_cnt {
		
		@at-root .pc_good_create_txt {
			margin-bottom: 15px;
		}
		
		
		@at-root .pc_good_create_txtar {
			margin-bottom: 15px;
			
			textarea {
				
			}
		}
		
		
		@at-root .pc_good_create_act {
			margin-bottom: 30px;
			
			@at-root .pc_good_create_upl {
				display: flex;
				font-size: 13px;
				
				.lbl {
					margin-bottom: 0;
					cursor: pointer;
					color: $colorLink;
					
					&:hover {
						color: $colorAlert;
					}
					
					
					& + .lbl {
						margin-left: 50px;
					}
					
					
					i {
						margin-right: 5px;
					}
				}
			}
			
			
			@at-root .pc_good_create_upl_ls {
				margin-top: 10px;
				font-size: 12px;
				color: #aaa;
				
				> li {
					
					.bt {
						margin-left: 10px;
						color: $colorAlert;
					}
				}
			}
		}
		
		
		@at-root .pc_good_create_btn {
			padding: 6px 30px;
		}
	}
}
/*========== create ==========*/

/*********** PC Good (1, 2, create) ***********/















/* Cart
*****************************************************************************************************/
@at-root .cart_sec {
	margin-bottom: 70px;
	padding-top: 15px;
	
	@at-root .cart {
		
		@at-root .cart_bread {
			
		}
		
		
		@at-root .cart_hd {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 20px;
			
			@at-root .cart_ttl {
				margin-bottom: 0;
			}
			
			
			@at-root .cart_continue {
				
			}
		}
		
		
		@at-root .cart_bd {
			
			@at-root .cart_gr {
				@extend %box_shadow;
				padding: 20px;
				border: 1px solid $colorBorder;
				font-size: 13px;
				
				& + & {
					margin-top: 20px;
				}
				
				
				@at-root .cart_gr_hd {
					display: flex;
					justify-content: space-between;
					
					@at-root .cart_vendor {
						
						a {
							color: $colorLink;
						}
					}
					
					
					@at-root .cart_cancel {
						
						a {
							color: $colorLink;
						}
					}
				}
				
				
				@at-root .cart_gr_bd {
					margin: 15px 0;
					padding: 15px 0;
					border-top: 1px solid $colorBorder;
					border-bottom: 1px solid $colorAlert;
					
					@at-root .cart_prod {
						
						@at-root .cart_prod_desc {
							width: calc(100% - calc(33% + 130px));
						}
						
						
						@at-root .cart_prod_qty {
							width: 130px;
						}
						
						
						@at-root .cart_prod_prc {
							width: 16%;
						}
						
						
						@at-root .cart_prod_prc_tot {
							width: 17%;
							
							@at-root .cart_prod_del {
								margin-top: 15px;
								
								a {
									border-bottom: 1px solid;
									line-height: 1.2;
									color: $colorLink;
								}
							}
						}
					}
				}
				
				
				@at-root .cart_gr_ft {
					display: flex;
					justify-content: space-between;
					padding-bottom: 20px;
					
					@at-root .cart_dlvr {
						
						@at-root .cart_dlvr_type {
							display: flex;
							align-items: center;
							margin-bottom: 30px;
							
							.txt {
								margin-right: 15px;
								color: #8f8f8f;
							}
							
							
							.hdr_bd_city_sel {
								min-width: 220px;
							}
						}
						
						
						@at-root .cart_dlvr_capt {
							max-width: 450px;
							font-size: 11px;
							color: #8f8f8f;
							
							i {
								margin-right: 5px;
							}
						}
					}
					
					
					@at-root .cart_total {
						
						@at-root .cart_total_prc {
							min-width: 270px;
							margin-bottom: 20px;
							
							@at-root .cart_total_prc_it {
								display: flex;
								justify-content: space-between;
								
								& + & {
									margin-top: 10px;
								}
								
								
								.txt {
									color: #8f8f8f;
								}
								
								
								.val {
									font-family: $fontSecond;
									font-weight: 700;
								}
							}


							@at-root .cart_total_prc_dlvr {

								.txt {

								}


								.val {
									
								}
							}


							@at-root .cart_total_prc_all {

								.txt {

								}


								.val {
									font-size: 16px;
								}
							}
						}
						
						
						@at-root .cart_total_btn {
							display: flex;
							justify-content: flex-end;
							
							.btn {
								padding: 8px 25px;
							}
						}
					}
				}
			}
		}
		
		
		@at-root .cart_ft {
			
			@at-root .cart_foot {
				display: flex;
				justify-content: space-between;
				margin-top: 40px;
				padding-top: 25px;
				border-top: 1px solid $colorAlert;
				font-size: 13px;
				
				@at-root .cart_back {
					
					a {
						color: $colorBase;
						
						i {
							margin-right: 3px;
						}
					}
				}
				
				
				@at-root .cart_overall {
					min-width: 360px;
					
					@at-root .cart_overall_prc {
						margin-bottom: 10px;
						
						@at-root .cart_overall_prc_it {
							display: flex;
							justify-content: space-between;
							
							& + & {
								margin-top: 10px;
							}
							
							
							.txt {
								color: #8f8f8f;
							}


							.val {
								font-family: $fontSecond;
							}
						}


						@at-root .cart_overall_prc_prod {

							.txt {

							}
							

							.val {

							}
						}


						@at-root .cart_overall_prc_dlvr {

							.txt {

							}


							.val {

							}
						}
					}
					
					
					@at-root .cart_overall_sum {
						display: flex;
						justify-content: space-between;
						margin-bottom: 25px;
						font-size: 18px;
						font-weight: 700;
						
						.txt {
							
						}
						
						
						.val {
							font-family: $fontSecond;
						}
					}
					
					
					@at-root .cart_overall_btn {
						display: flex;
						justify-content: flex-end;
						
						.btn {
							padding: 10px 35px;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}
/*********** Cart ***********/














/* Payment
*****************************************************************************************************/
@at-root .payment_sec {
	
	@at-root .payment {
		
		@at-root .payment_bread {
			
		}
		
		
		@at-root .payment_hd {
			
		}
		
		
		@at-root .payment_bd {
			
			@at-root .payment_step {
				
				& + & {
					margin-top: 40px;
				}
				
				
				@at-root .payment_step_ttl {
					margin-bottom: 25px;
					
					@at-root .payment_step_ttl_name {
						font-size: 16px;
						margin-bottom: 5px;
					}
					
					
					@at-root .payment_step_ttl_capt {
						font-size: 13px;
						color: #b2b2b2;
					}
				}
				
				
				@at-root .payment_step_cnt {
					
					@at-root .payment_tel {
						display: flex;
						
						@at-root .payment_tel_field {
							@extend %box_shadow;
							display: flex;
							align-items: center;
							padding: 20px;
							border: 1px solid $colorBorder;
							
							@at-root .payment_tel_txt {
								font-size: 13px;
							}
							
							
							@at-root .payment_tel_inp_bx {
								margin: 0 15px;
								
								.intl-tel-input {
									display: block;

									.flag-container {
										
										&::before {
											content: '';
											display: block;
											width: 1px;
											height: 80%;
											position: absolute;
											right: 0;
											top: 0;
											bottom: 0;
											margin: auto;
											z-index: 2;
											background: $colorBorder;
										}
										
										
										.selected-flag {
											width: 50px;
											padding-left: 10px;
											outline: 0;
										}

										
										.country-list {
											z-index: 10;
										}
									}
								}
								
								
								@at-root .payment_tel_inp {
									width: 270px;
									height: 35px;
									padding-left: 58px !important;
									border: 1px solid #f4f4f4;
									border-radius: 4px;
									background: #f4f4f4;
								}
							}
							
							
							@at-root .payment_tel_btn {
								font-size: 13px;
								padding: 7px 12px;
							}
						}
					}
					
					
					@at-root .payment_gr {
						
						@at-root .payment_gr_hd {
							
							a {
								color: $colorLink;
							}
						}
						
						
						@at-root .payment_gr_bd {
							
							@at-root .payment_prod {
								
								@at-root .payment_prod_desc {
									
								}
								
								
								@at-root .payment_prod_qty {
									
								}
								
								
								@at-root .payment_prod_prc {
									
								}
								
								
								@at-root .payment_prod_prc_tot {
									
								}
							}
						}
						
						
						@at-root .payment_gr_ft {
							display: flex;
							justify-content: space-between;
							padding-bottom: 30px;
							
							@at-root .payment_cmt {
								
								@at-root .payment_cmt_ttl {
									margin-bottom: 15px;
								}
								
								
								@at-root .payment_cmt_txtar {
									width: 100%;
									padding: 10px;
									border: 1px solid $colorBorder;
								}
								
								
								@at-root .payment_cmt_capt {
									color: #8f8f8f;
								}
							}
							
							
							@at-root .payment_info {
								
								@at-root .payment_info_dlvr {
									display: flex;
									justify-content: flex-end;
									margin-bottom: 35px;
									
									.txt {
										margin-right: 20px;
										color: #8f8f8f;
									}
									
									
									.val {
										font-size: 12px;
									}
								}
								
								
								@at-root .payment_info_prc {
									min-width: 270px;
								}
							}
						}
					}
					
					
					@at-root .payment_type {
						
						@at-root .payment_type_it {
							display: flex;
							align-items: center;
							
							& + & {
								margin-top: 20px;
							}
							
							
							@at-root .payment_type_rdo {
								flex: 0 0 auto;
								display: flex;
								align-items: center;
								margin-bottom: 0;
								margin-right: 30px;
								cursor: pointer;
								
								@at-root .payment_type_rdo_inp {
									margin-right: 30px;
									
									.inp {
										
									}
									
									
									.sign {
										width: 16px;
										height: 16px;
										border: 1px solid $colorBorder;
										border-radius: 50%;
										
										&::before {
											content: '';
											display: block;
											width: 8px;
											height: 8px;
											border-radius: 50%;
											opacity: 0;
											background: $colorBase;
										}
									}


									.inp:checked ~ .sign::before {
										opacity: 1;
									}
								}
								
								
								@at-root .payment_type_img {
									width: 120px;
									height: 80px;
									padding: 10px;
									border: 1px solid $colorBorder;
									border-radius: 3px;
									
									img {
										
									}
								}
							}
							
							
							@at-root .payment_type_txt {
								
								@at-root .payment_type_name {
									margin-bottom: 10px;
									font-size: 16px;
									font-weight: 700;
								}
								
								
								@at-root .payment_type_desc {
									font-size: 12px;
									color: #8f8f8f;
								}
							}
						}
					}
				}
			}
		}
		
		
		@at-root .payment_ft {
			
		}
	}
}
/*********** Payment ***********/














/* Alphabet
*****************************************************************************************************/
@at-root .alph_sec {
	padding-bottom: 60px;
	
	@at-root .alph {
		
		@at-root .alph_hd {
			
			@at-root .alph_ttl {
				
			}
			
			
			.alphabet_signs {
				
			}
		}
		
		
		@at-root .alph_bd {
			margin: 35px 0;
			padding: 35px 0;
			border-top: 1px solid $colorBorder;
			border-bottom: 1px solid $colorBorder;
			
			@at-root .alph_main {
				
				@at-root .alph_drug {
					column-count: 2;
					padding-left: 100px;
					
					> li {
						padding: 5px 0;
						
						a {
							border-bottom-width: 1px;
							line-height: 1.2;
							font-size: 13px;
							color: $colorLink;
							
							&:hover {
								border-bottom-style: solid;
								color: #588bf0;
							}
						}
					}
				}
			}
			
			
			@at-root .alph_asd {
				
				.per_cab_rek {
					
				}
			}
		}
		
		
		@at-root .alph_ft {

			.alphabet_signs {

			}
		}
	}
}
/*********** Alphabet ***********/














/* Catalog
*****************************************************************************************************/
@at-root .catalog_sec {
	padding-bottom: 50px;
	
	@at-root .catalog {
		
		@at-root .catalog_ttl {
			margin-bottom: 20px;
		}
		
		
		@at-root .catalog_cnt {
			
			@at-root .catalog_row {
				
				@at-root .catalog_col {
					padding: 15px;
					
					@at-root .catalog_it {
						@extend %box_shadow;
						height: 100%;
						border: 1px solid $colorBorder;
						
						@at-root .catalog_img {
							
							img {
								display: block;
								width: 100%;
								height: 240px;
								object-fit: cover;
							}
						}
						
						
						@at-root .catalog_txt {
							padding: 30px;
							
							@at-root .catalog_name {
								margin-bottom: 25px;
								
								a {
									font-size: 18px;
									font-weight: 700;
								}
							}
							
							
							@at-root .catalog_menu {
								
								> li {
									display: flex;
									
									&::before {
										content: '\2022';
										flex: 0 0 auto;
										display: block;
										margin-right: 8px;
										line-height: 1.3;
										font-size: 18px;
										color: $colorBase;
									}
									
									
									& + li {
										margin-top: 12px;
									}
									
									
									a {
										font-size: 13px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*********** Catalog ***********/















/* Contact
*****************************************************************************************************/
@at-root .contact_sec {
	margin-bottom: 60px;
	padding-top: 15px;
	
	@at-root .contact {
		
		@at-root .contact_bread {
			
		}
		
		
		@at-root .contact_ttl {
			
		}
		
		
		@at-root .contact_cnt {
			
			@at-root .contact_info {
				
				@at-root .contact_info_ls {
					margin-bottom: 30px;
					
					> li {
						display: flex;
						
						& + li {
							margin-top: 30px;
						}
						
						
						.txt {
							flex: 0 0 auto;
							width: 100px;
							color: $colorBase;
						}
						
						
						.val {
							
							a {
								
							}
						}
					}
				}
				
				
				@at-root .contact_scl {
					
					@at-root .contact_scl_ttl {
						margin-bottom: 20px;
						font-size: 16px;
						font-weight: 700;
					}
					
					
					@at-root .contact_scl_cnt {
						
						@at-root .contact_scl_ls {
							display: flex;
							
							> li {
								
								&:not(:last-of-type) {
									margin-right: 15px;
								}
								
								
								a {
									display: flex;
									
									i {
										display: block;
										width: 48px;
										height: 48px;
										line-height: 48px;
										border: 1px solid $colorBase;
										border-radius: 50%;
										text-align: center;
										@include ButtonReverse(#fff, $colorBase);
									}
								}
							}
						}
					}
				}
			}
			
			
			@at-root .contact_form {
				
				@at-root .contact_form_ttl {
					margin-bottom: 15px;
					font-size: 16px;
					font-weight: 700;
				}
				
				
				@at-root .contact_form_cnt {

					.row {
						margin: 0 -8px;
						
						> [class*=col-] {
							padding: 0 8px;
						}
					}
					
					
					@at-root .contact_form_btn {
						padding: 6px 40px;
					}
				}
			}
		}
	}
}



@at-root .contact_map {
	
	img {
		display: block;
		width: 100%;
		height: 480px;
		object-fit: cover;
	}
}
/*********** Contact ***********/













/* Information Page
*****************************************************************************************************/
@at-root .info_page_sec {
	padding-top: 15px;
	margin-bottom: 50px;
	
	@at-root .info_page {
		
		@at-root .info_page_bread {
			
		}
		
		
		@at-root .info_page_ttl {
			
		}
		
		
		@at-root .info_page_cnt {
			
			@at-root .info_page_asd {
				
				@at-root .info_page_asd_it {
					
					& + & {
						margin-top: 60px;
					}
					
					
					@at-root .info_page_menu {
						
						> li {
							
							& + li {
								margin-top: 8px;
							}
							
							
							a {
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 10px 15px;
								border-radius: 4px;
								background: #e6f6f7;
								
								.txt {
									
								}
								
								
								i {
									
								}
							}
							
							
							&.active a,
							a:hover {
								background: $colorBase;
								color: #fff;
							}
						}
					}
				}
			}
			
			
			@at-root .info_page_main {
				
			}
		}
	}
}



/* Delivery
=================================================================*/
@at-root .info_page_main_dlvr {
	font-size: 13px;
	
	img {
		display: block;
		width: 100%;
		object-fit: cover;
		margin-bottom: 1rem;
	}
	
	
	> img {
		height: 380px;
	}


	p {

	}


	.row {
		margin: 0 -10px;

		> .col,
		> [class*=col-] {
			padding: 0 10px;

			img {
				height: 280px;
			}
		}
	}
}
/*========== Delivery ==========*/





/* FAQ
=================================================================*/
@at-root .info_page_faq_text {
	font-size: 13px;
}


@at-root .info_page_faq_hr {
	
}


@at-root .info_page_faq_form {
	
	@at-root .info_page_faq_form_ttl {
		
	}
	
	
	@at-root .info_page_faq_form_cnt {
		
		@at-root .info_page_faq_form_btn {
			padding: 6px 30px;
		}
	}
}
/*========== FAQ ==========*/

/*********** Information Page ***********/

















/* Delivery Address
*****************************************************************************************************/
@at-root .dlvr_adrs {
	font-size: 13px;
	
	@at-root .dlvr_adrs_saved {
		margin-bottom: 65px;
		
		@at-root .dlvr_adrs_saved_hd {
			margin-bottom: 20px;
		}
		
		
		@at-root .dlvr_adrs_saved_bd {
			margin-bottom: 40px;
			
			@at-root .dlvr_adrs_saved_tb {
				@extend %box_shadow;
				table-layout: fixed;
				width: 100%;
				border: 1px solid $colorBorder;
				
				& + & {
					margin-top: 20px;
				}
				
				
				tr {
					
					td {
						padding: 14px;
					}
				}
				
				
				thead {
					background: #f4f4f4;
					
					tr {

						td {
							
							&.name {
								width: 17%;
							}
							
							
							&.loc {
								width: 21%;
							}
							
							
							&.adrs {
								width: 25%;
							}
							
							
							&.ctt {
								width: 18%;
							}
							
							
							&.act {
								width: 19%;
							}
						}
					}
				}
				
				
				tbody {

					tr {

						td {
							
							@at-root .dlvr_adrs_saved_name {
								display: flex;
								align-items: center;
								
								i {
									display: block;
									width: 16px;
									height: 16px;
									line-height: 15px;
									margin-right: 7px;
									border-radius: 50%;
									text-align: center;
									font-size: 10px;
									background: $colorBase;
									color: #fff;
								}
							}
							
							
							@at-root .dlvr_adrs_saved_act {
								display: flex;
								flex-wrap: wrap;
								
								.bt {
									color: $colorLink;
									
									&:hover {
										color: $colorAlert;
									}
								}
								
								
								.ln {
									margin: 0 5px;
									color: #c8c8c8;
								}
							}
						}
					}
				}
			}
		}
		
		
		@at-root .dlvr_adrs_saved_ft {
			
			@at-root .dlvr_adrs_saved_btn {
				padding: 8px 18px;
				
				&.active {
					pointer-events: none;
					background: #f4f4f4 !important;
					color: #989898 !important;
				}
			}
		}
	}
	
	
	@at-root .dlvr_adrs_new {
		
		@at-root .dlvr_adrs_new_ttl {
			margin-bottom: 20px;
		}
		
		
		@at-root .dlvr_adrs_new_cnt {
			
			@at-root .dlvr_adrs_new_lbl {
				padding-top: 4px;
				padding-bottom: 0;
			}
			
			
			@at-root .dlvr_adrs_new_inp {
				padding: 5px 8px;
			}
			
			
			@at-root .dlvr_adrs_new_btn {
				padding: 8px 18px;
			}
		}
	}
}
/*********** Delivery Address ***********/













/* Personal Info
*****************************************************************************************************/
@at-root .pc_info {
	
	@at-root .pc_info_ttl {
		margin-bottom: 30px;
		
		@at-root .pc_info_ttl_txt {
			margin-bottom: 15px;
		}
		
		
		@at-root .pc_info_ttl_capt {
			
		}
	}
	
	
	@at-root .pc_info_cnt {
		font-size: 13px;
		
		@at-root .pc_info_up {
			display: flex;
			align-items: center;
			
			@at-root .pc_info_up_img {
				margin-right: 15px;
				
				@at-root .img_upload {
					width: 80px;
					height: 80px;
					margin-bottom: 0;
					border: 1px dashed $colorBase;
					border-radius: 4px;
					overflow: hidden;
					cursor: pointer;
					color: $colorBase;
					
					
					&.round {
						border-radius: 50%;
					}
					
					
					.inp {
						
					}
					
					
					.img {
						display: none;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					
					
					.txt {
						display: block;
					}
					
					
					&.active {

						.img {
							display: block;
						}


						.txt {
							display: none;
						}
					}
				}
			}
			
			
			@at-root .pc_info_up_txt {
				color: #b4b4b4;
			}
		}
	}
}



@at-root .pc_info_v_time {
	display: flex;
	align-items: center;
	
	.txt {
		flex: 0 0 auto;
		margin-right: 10px;
	}
	
	
	.hdr_bd_city_sel {
		flex: 1 1 auto;
	}
}
/*********** Personal Info ***********/














/* Security
*****************************************************************************************************/
@at-root .security {
	
	@at-root .security_ttl {
		
	}
	
	
	@at-root .security_cnt {
		font-size: 13px;
		
		@at-root .security_lbl {
			color: #8f8f8f;
		}
		
		
		@at-root .security_txt {
			display: flex;
			
			.val {
				width: 130px;
			}
			
			
			.bt {
				color: $colorLink;
				
				&:hover {
					color: $colorAlert;
				}
			}
		}
	}
}
/*********** Security ***********/














/* Pharmacy
*****************************************************************************************************/
@at-root .pharmacy_sec {
	margin-bottom: 60px;
	
	@at-root .pharmacy {
		
		@at-root .pharmacy_ttl {
			
		}
		
		
		@at-root .pharmacy_cnt {
			font-size: 13px;
			
			@at-root .pharmacy_res {
				margin-bottom: 40px;
				
				@at-root .pharmacy_res_hd {
					margin-bottom: 20px;
					
					@at-root .pharmacy_menu {
						font-size: 14px;
					}
					
					
					@at-root .pharmacy_search {
						
					}
				}
				
				
				@at-root .pharmacy_res_bd {
					margin-bottom: 20px;
					
					@at-root .pharmacy_tb {
						width: 100%;
						border-bottom: 1px solid $colorBase;
						
						tr {
							
							td {
								padding: 15px 10px;
							}
						}


						thead {
							border-bottom: 1px solid $colorBorder;
							border-top: 1px solid $colorBorder;
							text-transform: uppercase;
							
							tr {

								td {
									
									&.name {
										
									}
									
									
									&.adrs {
										
									}
									
									
									&.dist {
										
									}
									
									
									&.tel {
										width: 135px;
									}
									
									
									&.work {
										width: 140px;
									}
									
									
									&.act {
										
									}
								}
							}
						}


						tbody {
							
							tr {
								
								& + tr {
									border-top: 1px dashed $colorBorder;
								}
								
								
								&:hover {
									background: #f4f4f4;
								}

								td {
									
									@at-root .pharmacy_tb_name {
										
										a {
											color: $colorLink;
											
											&:hover {
												text-decoration: underline;
												color: #588bf0;
											}
										}
									}
									
									
									@at-root .pharmacy_tb_act {
										display: flex;
										justify-content: flex-end;
										
										@at-root .pharmacy_tb_act_btn {
											padding: 2px 12px;
											font-family: inherit;
											font-size: 12px;
											background: $colorBase;
											color: #fff !important;
											
											&:hover {
												background: $colorAlert;
											}
										}
									}
								}
							}
						}
					}
				}
				
				
				@at-root .pharmacy_res_ft {
					display: flex;
					justify-content: space-between;
					align-items: center;
					
					@at-root .pharmacy_res_back {
						
						a {
							color: $colorBase;
							
							&:hover {
								color: $colorAlert;
							}
							
							
							i {
								margin-right: 3px;
							}
						}
					}
					
					
					@at-root .pharmacy_res_pag {
						
					}
				}
			}
			
			
			@at-root .pharmacy_map {
				position: relative;
				
				@at-root .pharmacy_map_img {
					display: block;
					width: 100%;
					height: 580px;
					object-fit: cover;
				}
				
				
				@at-root .pharmacy_map_marker {
					position: absolute;
					
					@at-root .pharmacy_map_marker_icon {
						width: 28px;
						height: 28px;
						padding: 5px;
						border-radius: 50%;
						position: relative;
						cursor: pointer;
						background: $colorAlert;

						&::before {
							content: '';
							display: block;
							width: 0;
							height: 0;
							border: 6px solid transparent;
							position: absolute;
							top: calc(100% - 2px);
							left: 0;
							right: 0;
							margin: auto;
							border-top-color: $colorAlert;
						}
						
						
						.img {
							max-height: 100%;
						}
					}
					
					
					@at-root .pharmacy_map_pop {
						display: none;
						width: 260px;
						padding: 15px;
						border-radius: 4px;
						position: absolute;
						left: -10px;
						bottom: calc(100% + 15px);
						box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
						background: #fff;
						
						&::before {
							content: '';
							display: block;
							width: 0;
							height: 0;
							border: 9px solid transparent;
							position: absolute;
							top: 100%;
							left: 15px;
							border-top-color: #fff;
						}
						
						
						&.active {
							display: block;
						}
						
						
						@at-root .pharmacy_map_pop_hd {
							margin-bottom: 10px;
							
							a {
								font-size: 14px;
								color: $colorLink;
							}
						}
						
						
						@at-root .pharmacy_map_pop_bd {
							margin-bottom: 15px;
							
							.base {
								color: $colorBase;
							}
						}
						
						
						@at-root .pharmacy_map_pop_ft {
							
							@at-root .pharmacy_map_pop_btn {
								
							}
						}
					}
				}
				
				
				@at-root .pharmacy_map_gr {
					position: absolute;
					
					@at-root .pharmacy_map_gr_num {
						width: 60px;
						height: 60px;
						border: 5px solid $colorBase;
						border-radius: 50%;
						cursor: pointer;
						font-size: 18px;
						font-weight: bold;
						background: #fff;
						color: #787a7d;
					}
				}
			}
		}
	}
}
/*********** Pharmacy ***********/

















/* News
*****************************************************************************************************/
@at-root .news_sec {
	margin-bottom: 70px;
	padding-top: 15px;
	
	@at-root .news {
		
		@at-root .news_bread {
			
		}
		
		
		@at-root .news_cnt {
			
			@at-root .news_main {

			}
			
			
			@at-root .news_asd {
				
				@at-root .news_asd_it {
					
					@at-root .news_asd_sub {
						
						@at-root .news_asd_sub_ttl {
							
						}
						
						
						@at-root .news_asd_sub_cnt {
							
							@at-root .news_asd_sub_inp {
								
							}
							
							
							@at-root .news_asd_sub_btn {
								padding: 6px 20px;
							}
						}
					}
					
					
					@at-root .news_asd_cat {
						
						@at-root .news_asd_cat_ttl {
							
						}
					}
					
					
					@at-root .news_asd_rek {
						
						a {
							display: block;
							
							img {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}







/* All
=================================================================*/
@at-root .news_all {

	@at-root .news_all_hd {

	}


	@at-root .news_all_bd {

		@at-root .news_it {
			display: flex;
			border: 1px solid $colorBorder;
			font-size: 13px;

			&:hover {
				border-color: $colorBase;
			}


			& + & {
				margin-top: 20px;
			}


			@at-root .news_it_img {
				flex: 0 0 auto;
				width: 260px;
				min-height: 190px;
				position: relative;

				.img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}


				@at-root .news_it_date {
					padding: 7px 20px;
					position: absolute;
					left: 0;
					bottom: 0;
					font-family: $fontSecond;
					background: $colorBase;
					color: #fff;
				}
			}


			@at-root .news_it_txt {
				flex: 1 1 auto;
				padding: 20px 30px;

				@at-root .news_it_name {
					margin-bottom: 20px;
					font-size: 16px;
					font-weight: 700;
				}


				@at-root .news_it_desc {
					margin-bottom: 20px;
				}


				@at-root .news_it_act {
					display: flex;
					justify-content: space-between;
					align-items: center;

					@at-root .news_it_more {

						a {
							color: $colorBase;

							&:hover {
								color: $colorAlert;
							}


							i {
								vertical-align: middle;
								margin-left: 5px;
								font-size: 14px;
							}
						}
					}


					@at-root .news_it_hash {
						color: #c4c4c4;
					}
				}
			}
		}
	}


	@at-root .news_all_ft {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid $colorBorder;

		@at-root .news_main_pag {

		}
	}
}
/*========== All ==========*/








/* One
=================================================================*/
@at-root .news_one {
	font-size: 13px;
	
	@at-root .news_one_hd {
		margin-bottom: 35px;
		
		@at-root .news_one_ttl {
			margin-bottom: 20px;
		}
		
		
		@at-root .news_one_info {
			display: flex;
			
			@at-root .news_one_info_it {
				display: flex;
				
				&:not(:last-of-type) {
					margin-right: 50px;
				}
				
				
				.txt {
					
				}
				
				
				.val {
					margin-left: 10px;
				}
				
				
				&.date {
					color: $colorBase;
					
					.txt {

					}


					.val {

					}
				}
				
				
				&.cat {
					color: #c4c4c4;
					
					.txt {

					}


					.val {

					}
				}
			}
		}
	}
	
	
	@at-root .news_one_bd {
		margin-bottom: 55px;
		
		@at-root .news_one_txt {
			margin-bottom: 30px;
			
			img {
				
			}
			
			
			p {
				
			}
		}
		
		
		@at-root .news_one_back {
			
		}
	}
	
	
	@at-root .news_one_ft {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px 0;
		border-top: 1px solid $colorBorder;
		border-bottom: 1px solid $colorBorder;
		
		@at-root .news_one_scl {
			display: flex;
			align-items: center;
			
			@at-root .news_one_scl_txt {
				margin-right: 20px;
			}
			
			
			@at-root .news_one_scl_ls {
				display: flex;
				
				> li {
					
					&:not(:last-of-type) {
						margin-right: 4px;
					}
					
					
					a {
						display: block;
						
						i {
							display: block;
							width: 34px;
							height: 34px;
							line-height: 34px;
							border-radius: 4px;
							text-align: center;
							font-size: 14px;
							color: #fff;
						}
					}
				}
			}
		}
		
		
		@at-root .news_one_next {
			
			a {
				color: $colorBase;
				
				&:hover {
					color: $colorAlert;
				}
				
				
				i {
					margin-left: 3px;
				}
			}
		}
	}
}
/*========== One ==========*/

/*********** News ***********/














/* Oferta
*****************************************************************************************************/
@at-root .oferta_sec {
	margin-bottom: 60px;
	padding-top: 15px;
	
	@at-root .oferta {
		
		@at-root .oferta_bread {
			
		}
		
		
		@at-root .oferta_ttl {
			
		}
		
		
		@at-root .oferta_cnt {
			
		}
	}
}
/*********** Oferta ***********/















/* Modal Base
*****************************************************************************************************/
@at-root .modal_base {
	
	.modal-dialog {
		
	}
	
	
	.modal-content {
		padding: 30px;
		border: 0;
		border-radius: 0;
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.17);
	}
	
	
	@at-root .modal_base_cls {
		display: block;
		width: 28px;
		height: 28px;
		position: absolute;
		top: 30px;
		right: 30px;
		
		&::before,
		&::after {
			content: '';
			display: block;
			width: 24px;
			height: 2px;
			border-radius: 100px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			background: #c3c3c4;
		}


		&::before {
			transform: rotate(45deg);
		}

		
		&::after {
			transform: rotate(-45deg);
		}
		
		
		&:hover {

			&::before,
			&::after {
				background: $colorAlert;
			}
		}
	}
	
	
	@at-root .modal_base_ttl {
		padding-top: 10px;
		padding-right: 28px;
		border-bottom: 1px solid $colorBase;
	}
	
	
	@at-root .modal_base_cnt {
		padding-top: 25px;
	}
}



@at-root .modal-backdrop {
	background: #fff;
	
	&.show {
		opacity: .88;
	}
}









/* Modal Authorization
=================================================================*/
@at-root .modal_auth {

	@at-root .modal_auth_nav {

		.btn {
			padding: 7px 15px;
			border-radius: 5px 5px 0 0;
			font-weight: 700;
			background: #ededef;
			
			
			& + .btn {
				margin-left: 1px;
			}
			
			
			&.active,
			&:hover {
				background: $colorBase;
				color: #fff;
			}
		}
	}


	@at-root .modal_auth_tab {

		.form-group {
			margin-bottom: 20px;
		}
		
		
		@at-root .modal_auth_sel {
			position: relative;
			
			select {
				padding-right: 22px;
			}


			i {
				height: 14px;
				position: absolute;
				right: 12px;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: 3;
				pointer-events: none;
			}
		}
		
		
		@at-root .modal_auth_inp {
			position: relative;
			
			@at-root .modal_auth_img {
				width: 34px;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				z-index: 3;
				pointer-events: none;
				
				img {
					
				}
			}
			
			
			.form-control {
				padding-left: 34px;
				font-size: 13px;
			}
		}
		
		
		@at-root .modal_auth_chk {
			
			a {
				color: $colorLink;
				
				&:hover {
					color: $colorAlert;
				}
			}
		}
		
		
		@at-root .modal_auth_btn {
			padding: 9px 20px;
		}
	}
}
/*========== Modal Authorization ==========*/









/* Modal Login
=================================================================*/
@at-root .modal_log {
	
}
/*========== Modal Login ==========*/







/* Modal Registration
=================================================================*/
@at-root .modal_reg {
	
	@at-root .modal_reg_tel {
		display: flex;
		
		@at-root .modal_reg_tel_inp {
			flex: 1 1 auto;
		}
		
		
		@at-root .modal_reg_tel_btn {
			flex: 0 0 auto;
			margin-left: 20px;
			padding: 9px 12px;
		}
	}
	
	
	@at-root .modal_reg_tel_capt {
		margin-top: 7px;
		font-size: 12px;
		font-weight: 300;
		color: #bbb;
	}
}
/*========== Modal Registration ==========*/







/* Modal Contact
=================================================================*/
@at-root .modal_ctt {
	
	@at-root .modal_ctt_ttl {
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 700;
	}
	
	
	@at-root .modal_ctt_cnt {
		
		@at-root .modal_ctt_btn {
			padding: 6px 30px;
		}
	}
}
/*========== Modal Contact ==========*/


/*********** Modal Base ***********/












/* Vendor
*****************************************************************************************************/
@at-root .vendor_sec {
	margin-bottom: 80px;
	
	@at-root .vendor {
		padding-top: 30px;
		border-top: 1px solid $colorBorder;
		
		@at-root .vendor_bread {
			
		}
		
		
		@at-root .vendor_cnt {
			
			@at-root .vendor_info {
				font-size: 13px;
				
				@at-root .vendor_info_hd {
					
				}
				
				
				@at-root .vendor_info_bd {
					margin-bottom: 40px;
					
					@at-root .vendor_info_ls {
						
						> li {
							
							& + li {
								margin-top: 20px;
							}
							
							
							.txt {
								font-style: italic;
								color: #b2b2b2;
							}
							
							
							.val {
								
							}
						}
					}
				}
				
				
				@at-root .vendor_info_ft {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					
					@at-root .vendor_info_btn_see {
						margin-right: 30px;
						padding: 11px 25px;
						text-transform: uppercase;
						font-size: 12px;
					}
					
					
					@at-root .vendor_info_btn_get {
						
						.bt {
							color: $colorLink;
							
							&:hover {
								color: $colorAlert;
							}
							
							
							i {
								margin-right: 4px;
							}
						}
					}
				}
			}
			
			
			@at-root .vendor_map {
				
				img {
					display: block;
					width: 100%;
					height: 350px;
					object-fit: cover;
				}
			}
		}
	}
}
/*********** Vendor ***********/















/* Product One
*****************************************************************************************************/
@at-root .prod_one_sec {
	
	@at-root .prod_one {
		
		@at-root .prod_one_bread {
			
		}
		
		
		@at-root .prod_one_ttl {
			
		}
		
		
		@at-root .prod_one_cnt {
			
			@at-root .prod_one_view {
				display: flex;
				margin-bottom: 60px;
				
				@at-root .prod_one_view_img {
					width: 300px;
					
					@at-root .prod_one_view_img_lg {
						margin-bottom: 14px;
						border: 1px solid $colorBorder;
						
						@at-root .prod_one_view_img_lg_it {
							height: 300px;
							
							@at-root .prod_one_view_img_lg_gal {
								height: 100%;
								padding: 20px;
								
								img {
									max-height: 100%;
								}
							}
							
							
							@at-root .prod_one_view_img_lg_like {
								position: absolute;
								top: 10px;
								right: 10px;
								z-index: 3;
								font-size: 16px;
								color: #cecece;
								
								&:hover {
									color: $colorAlert;
								}
								
								
								i {

									&.fa-heart-o {
										display: block;
									}


									&.fa-heart {
										display: none;
									}
								}
								
								
								&.active {
									color: $colorAlert;
									
									i {

										&.fa-heart-o {
											display: none;
										}


										&.fa-heart {
											display: block;
										}
									}
								}
							}
						}
					}
					
					
					@at-root .prod_one_view_img_sm {
						display: flex;
						overflow: hidden;
						
						.slick-arrow {
							flex: 0 0 auto;
							width: 20px;
							font-size: 16px;
							color: #dbdbdb;
							
							&:hover {
								color: $colorAlert;
							}
							
							
							&.slick-prev {
								text-align: left;
							}
							
							
							&.slick-next {
								text-align: right;
							}
						}


						.slick-list {
							flex: 1 1 auto;
							margin: 0 -7px;
						}
						
						
						@at-root .prod_one_view_img_sm_col {
							padding: 0 7px;

							@at-root .prod_one_view_img_sm_it {
								height: 80px;
								padding: 10px;
								border: 1px solid $colorBorder;
								
								@at-root .slick-current & {
									border-color: $colorBase;
								}
								
								
								img {
									max-height: 100%;
								}
							}
						}
					}
				}
				
				
				@at-root .prod_one_view_txt {
					width: calc(100% - 300px);
					padding-left: 30px;
					font-size: 13px;
					
					@at-root .prod_one_view_art {
						margin-bottom: 30px;
					}


					@at-root .prod_one_view_info {
						margin-bottom: 30px;
						
						> li {
							display: flex;
							
							& + li {
								margin-top: 5px;
							}
							
							
							.txt {
								width: 200px;
								padding-right: 15px;
								color: #b2b2b2;
							}


							.val {
								
							}


							a {
								text-decoration: underline;
								
								&.link {
									color: $colorLink;
								}
							}
						}
					}
					
					
					@at-root .prod_one_view_btn {
						margin-bottom: 30px;
						
						.btn {
							padding: 11px 30px;
							text-transform: uppercase;
							font-size: 12px;
						}
					}
					
					
					@at-root .prod_one_view_note {
						font-size: 12px;
						color: #b2b2b2;
						
						i {
							margin-right: 4px;
						}
					}
				}
			}
			
			
			@at-root .prod_one_chem {
				margin-bottom: 60px;
				
				@at-root .prod_one_chem_ttl {
					
				}
				
				
				@at-root .prod_one_chem_cnt {
					
					@at-root .prod_one_chem_tb_capt {
						margin-bottom: 20px;
					}
					
					
					@at-root .prod_one_chem_tb {
						border-bottom-color: $colorBorder;
						font-size: 13px;
						
						tr {
							
							td {
								
							}
						}
						
						
						thead {

							tr {

								td {

								}
							}
						}


						tbody {

							tr {
								
								&:hover {
									background-color: transparent;
								}
								

								td {
									
									@at-root .prod_one_chem_qty {
										
										.inp {
											width: 30px;
										}
									}
									
									
									@at-root .prod_one_chem_act {
										display: flex;
										justify-content: flex-end;
										
										@at-root .prod_one_chem_btn {
											width: 80px;
											padding: 2px;
											font-family: inherit;
											font-size: 12px;
											@include ButtonDark(#f4f4f4);
											color: #989898 !important;
											
											
											&.buy {
												background: $colorBase;
												color: #fff !important;
												
												&:hover {
													background: $colorAlert;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			
			
			@at-root .prod_one_inst {
				
				@at-root .prod_one_inst_main {
					
					@at-root .prod_one_inst_ttl {
						
					}
					
					
					@at-root .prod_one_inst_txt {
						
					}
				}
				
				
				@at-root .prod_one_inst_asd {
					
				}
				
				
				@at-root .prod_one_inst_act {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 13px;
					
					@at-root .prod_one_inst_back {
						
					}
					
					
					@at-root .prod_one_inst_anchor {
						display: block;
						width: 42px;
						height: 42px;
						line-height: 42px;
						border-radius: 50%;
						text-align: center;
						box-shadow: 0 0 0 6px rgba($colorBase, 0.16);
						transition: all .3s;
						color: $colorBase !important;
						
						&:hover {
							box-shadow: 0 0 0 6px $colorBase;
						}
						
						
						i {
							
						}
					}
				}
			}
		}
	}
}
/*********** Product One ***********/












/* Product All
*****************************************************************************************************/
@at-root .prod_all_sec {
	margin-bottom: 70px;
	padding-top: 15px;
	
	@at-root .prod_all {
		
		@at-root .prod_all_bread {
			
		}
		
		
		@at-root .prod_all_ttl {
			
		}
		
		
		@at-root .prod_all_cnt {
			
			@at-root .prod_all_asd {
				
				@at-root .prod_all_asd_it {
					
					& + & {
						margin-top: 50px;
					}
					
					
					@at-root .prod_all_ftr_chk_ls {
						padding-top: 15px;
						
						> li {
							
							& + li {
								margin-top: 10px;
							}
							
							
							@at-root .prod_all_ftr_chk {
								width: 100%;
								font-size: 14px !important;
								
								&:hover {
									color: $colorBase;
								}
								
								
								@at-root .prod_all_ftr_chk_txt {
									display: flex;
									justify-content: space-between;
									
									.txt {
										
									}
									
									
									.val {
										margin-left: 10px;
										color: #8b8d90;
									}
								}
							}
						}
					}
					
					
					@at-root .prod_all_ftr_prc {
						padding-top: 20px;
						
						@at-root .prod_all_ftr_prc_val_bx {
							margin-bottom: 20px;
							
							@at-root .prod_all_ftr_prc_val {
								display: flex;
								align-items: center;
								
								& + & {
									margin-top: 10px;
								}
								
								
								.txt {
									flex: 0 0 auto;
									width: 20px;
								}
								
								
								.inp {
									flex: 1 1 auto;
									margin: 0 10px;
									padding: 5px 8px;
									font-size: 14px;
								}
								
								
								.cur {
									flex: 0 0 auto;
								}
							}
						}
						
						
						@at-root .prod_all_ftr_prc_range {
							height: 12px;
							border-color: $colorBorder;
							border-radius: 3px;
							background: #f5f5f5;
							
							
							.noUi-base {
								height: calc(100% + 2px);
								top: -1px;
							}


							.noUi-connect {
								border: 1px solid #14a9b3;
								background: $colorBase;
							}
							
							
							.noUi-handle {
								width: 22px;
								height: 22px;
								border-color: $colorBorder;
								border-radius: 50%;
								outline: 0;
								top: -5px;
								right: -11px !important;
								cursor: pointer;
								box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
								
								&::before,
								&::after {
									border-radius: 50%;
									left: 0;
									right: 0;
									top: 0;
									bottom: 0;
									margin: auto;
								}


								&::before {
									width: 12px;
									height: 12px;
									background: $colorBase;
								}


								&::after {
									width: 6px;
									height: 6px;
									background: #14a9b3;
								}
							}
						}
					}
					
					
					@at-root .prod_all_ftr_act {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-top: 30px;
						font-size: 12px;
						
						@at-root .prod_all_ftr_act_done {
							font-size: inherit;
						}
						
						
						@at-root .prod_all_ftr_act_res {
							border-bottom: 1px solid;
							font-family: $fontSecond;
						}
					}
					
					
					@at-root .prod_all_ftr_letter {
						margin-top: 2px;
						padding: 15px;
						border-radius: 4px;
						background: #f5f5f5;
						
						.alphabet_signs {
							line-height: 2;
							font-family: $fontSecond;
							color: #8b8d90;
						}
					}
					
					
					@at-root .prod_all_back {
						font-size: 13px;
					}
				}
			}
			
			
			@at-root .prod_all_main {
				
				@at-root .prod_all_main_hd {
					display: flex;
					justify-content: space-between;
					align-items: center;
					
					@at-root .prod_all_menu {
						margin-bottom: 0;
						
						> li {
							
							&:not(:last-of-type) {
								margin-right: 5px;
							}
						}
					}
					
					
					@at-root .prod_all_pag_bx {
						display: flex;
						align-items: center;
						
						@at-root .prod_all_pag {
							margin-right: 15px;
						}
						
						
						@at-root .prod_all_view {
							display: flex;
							align-items: center;
							
							.bt {
								display: block;
								width: 30px;
								height: 28px;
								line-height: 28px;
								border: 1px solid transparent;
								border-radius: 4px;
								text-align: center;
								color: #c6c7c9;
								
								& + .bt {
									margin-left: 2px;
								}
								
								
								&.list {
									
								}
								
								
								&.box {
									
								}


								&:hover,
								&.active {
									border-color: $colorBorder;
									background: #fcfcfc;
									color: inherit;
								}
							}
						}
					}
				}
				
				
				@at-root .prod_all_main_bd {
					margin: 20px 0;
					
					@at-root .product_h {
						@extend %box_shadow;
						display: flex;
						padding: 25px;
						border: 1px solid $colorBorder;
						
						& + & {
							margin-top: 20px;
						}
						
						
						&:hover {
							border-color: $colorBase;
						}
						
						
						@at-root .product_h_img {
							flex: 0 0 auto;
							width: 200px;
							height: 135px;
							padding-right: 20px;
							position: relative;
							
							> img {
								max-height: 100%;
							}
							
							
							@at-root .product_h_like {
								
								i {
									
								}
							}
						}
						
						
						@at-root .product_h_txt {
							flex: 1 1 auto;
							padding-left: 40px;
							padding-right: 15px;
							
							@at-root .product_h_desc {
								@include TextMask(42, 21);
								margin-bottom: 15px;
							}
							
							
							@at-root .product_h_art {
								margin-bottom: 15px;
								font-size: 13px;
								color: $colorBase;
							}
							
							
							@at-root .product_h_info {
								font-size: 13px;
								
								> li {
									display: flex;
									
									& + li {
										margin-top: 5px;
									}
									
									
									.txt {
										flex: 0 0 auto;
										width: 120px;
										color: #b2b2b2;
									}
									
									
									.val {
										
									}
								}
							}
						}
						
						
						@at-root .product_h_ctrl {
							flex: 0 0 auto;
							display: flex;
							align-items: center;
							padding-left: 20px;
							border-left: 1px solid $colorBorder;
							
							@at-root .product_h_ctrl_inr {
								width: 100%;

								@at-root .product_h_price_bx {
									margin-bottom: 15px;
									
									@at-root .product_h_price {
										display: flex;
										align-items: center;
										
										.txt {
											color: #8e9092;
										}


										.val {
											flex: 0 0 auto;
											width: 120px;
											text-align: right;
											font-family: $fontSecond;
											font-size: 16px;
											
											strong {
												font-weight: 800;
											}
										}
									}


									@at-root .product_h_discount {
										text-align: right;
										text-decoration: line-through;
										font-family: $fontSecond;
										font-size: 13px;
										color: $colorAlert;
									}
								}


								@at-root .product_h_btn_bx {
									margin-bottom: 15px;
									
									@at-root .product_h_btn {
										display: block;
										width: 100%;
										padding: 5px;
									}
								}


								@at-root .product_h_status {
									font-family: $fontSecond;
									font-size: 13px;
									color: $colorAlert;
									
									&.active {
										color: $colorBase;
									}
								}
							}
						}
					}
				}
				
				
				@at-root .prod_all_main_ft {
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
}
/*********** Product All ***********/














/* Search Page
*****************************************************************************************************/
@at-root .search_p_sec {
	
	@at-root .search_p {
		
		@at-root .search_p_bread {
			
		}
		
		
		@at-root .search_p_ttl {
			
		}
		
		
		@at-root .search_p_sch {
			margin-bottom: 40px;
		}
		
		
		@at-root .search_p_tab {
			display: flex;
			margin-bottom: 30px;
			border-bottom: 1px solid $colorBase;
			
			.btn {
				padding: 7px 15px;
				border-radius: 5px 5px 0 0;
				font-family: inherit;
				font-size: 15px;
				background: #e6f6f6;
				color: #787a7d;
				
				& + .btn {
					margin-left: 1px;
				}
				
				
				&.active,
				&:hover {
					background: $colorBase;
					color: #fff;
				}
			}
		}
		
		
		@at-root .search_p_cnt {
			
			@at-root .search_p_main {
				
			}
			
			
			@at-root .search_p_asd {
				
				@at-root .search_p_asd_it {
					
				}
			}
		}
	}
}



/* Word
=================================================================*/
@at-root .search_p_word {
	
}
/*========== Word ==========*/





/* Product
=================================================================*/
@at-root .search_p_prod {
	
}
/*========== Product ==========*/

/*********** Search Page ***********/




















/* Something
*****************************************************************************************************/
/*********** Something ***********/



/* Something
=================================================================*/
/*========== Something ==========*/



/* Something
----------------------------------------*/
/*---------- Something ----------*/



