

block footer_variables
	- var alphabet = true






// |=================================== Alphabet ===================================|
if alphabet
	section.alphabet_sec
		.container
			.alphabet
				+base_title('alphabet_ttl') Лекарства по алфавиту
				|
				|
	
				.alphabet_cnt
					include parts/alphabet_signs
else
	.no_alphabet_line
	// |========== Alphabet ==========|
|
|
|


// |=================================== Foot Base ===================================|
section.foot_base_sec
	.container
		.foot_base
			.foot_bd
				.foot_logo_bx
					.foot_logo
						a(href)
							img(src="img/logo.png")
					|
					|
					
					ul.foot_scl_ls
						-
							var footSocial = [
								'fa-facebook',
								'fa-instagram',
								'fa-paper-plane',
								'fa-odnoklassniki',
							]
						each item in footSocial
							li
								a(href)
									i.fa(class= item)
				|
				|
				
				.foot_nav
					.row
						-
							var footMenu = [
								{
									'title': 'О нас',
									'content': [
										'О компании',
										'Новости',
										'Контакты',
									]
								},
								{
									'title': 'ПОМОЩЬ',
									'content': [
										'Как заказать',
										'Доставка',
										'Часто задаваемые вопросы',
										'Термины',
									]
								},
								{
									'title': 'ПАРТНЕРАМ',
									'content': [
										'Реклама',
										'Субаренда',
									]
								},
							]
						each item1 in footMenu
							.col-4
								.foot_menu
									.foot_menu_name= item1.title
									
									ul.foot_menu_ls
										each item2 in item1.content
											li
												a(href)= item2
				|
				|
				
				.foot_app
					ul.foot_app_ls
						-
							var footApps = [
								{
									'class': 'apple',
									'image': 'img/app_iphone.png',
								},
								{
									'class': 'google',
									'image': 'img/app_google.png',
								},
								{
									'class': 'telegram',
									'image': 'img/app_telegram.png',
								},
							]
						each item in footApps
							li
								a.fx-c(href, class= item.class)
									img(src= item.image)
			|
			|
			
			.foot_ft
				.foot_copy &copy; 2018 Интернет-аптека "Online Pharmacy"
				
				.foot_made
					| Сайт создан в 
					a(href) Smart Outsourcing Solutions
	// |========== Foot Base ==========|









