

block header_variables
	- var header_banner = true




// |=================================== Header Head ===================================|
section.hdr_hd
	.container
		.row.justify-content-between.align-items-center
			.hdr_hd_col
				.hdr_hd_ctt
					.hdr_hd_ctt_tel 
						|Справочная служба: 
						a(href="tel:+998912345678") +998 91 234 56 78
					.hdr_hd_ctt_back
						a(href, data-toggle="modal", data-target=".modal_ctt") Обратная связь
			|
			|
			
			.hdr_hd_col
				.hdr_hd_act
					ul.hdr_hd_app_ls
						-
							var headerApp = [
								'fa-android',
								'fa-apple',
								'fa-paper-plane',
							]
						each item in headerApp
							li
								a(href)
									i.fa(class=item)
					|
					|
					
					.hdr_hd_reg
						a(href="#modal_auth_log", data-toggle="modal", data-target=".modal_auth") Вход
						a(href="#modal_auth_reg", data-toggle="modal", data-target=".modal_auth") Регистрация
					|
					|
					
					.hdr_hd_lang
						.hdr_hd_lang_sel
							select.ap-n
								option Ru
								option Uz
								option En
							i.fa.fa-angle-down
	// |========== Header Head ==========|
|
|
|


// |=================================== Header Body ===================================|
section.hdr_bd
	.container
		.hdr_bd_inner
			.row.align-items-end
				.col-3
					.hdr_bd_logo
						a(href)
							img(src="img/logo.png")
					|
					|
					
					.hdr_bd_cat_btn_bx
						+base_button('hdr_bd_cat_btn')
							span.txt Каталог продукции
							i.fa.fa-angle-down
						|
						|

						.cat_menu_bx.container_width
							.cat_menu
								ul.cat_menu_ls
									-
										var catMenu = [
											'ЛЕКАрСТВА И БАДЫ',
											'СПОРТ И ФИТНЕС',
											'ГИГИЕНА',
											'КОСМЕТИКА',
											'МАМА И МАЛЫШ',
											'ЛИНЗЫ',
											'МЕД. ПРИБОРЫ И ИЗДЕЛИЯ',
										]
									each item in catMenu
										li
											a(href)
												span.txt= item
												i.fa.fa-angle-right
								|
								|
	
								.cat_drop
									-for (var i = 0; i < 3; i++)
										.cat_drop_it
											.cat_drop_menu
												-for (var j = 0; j < 2; j++)
													.cat_drop_menu_col
														ul.cat_drop_menu_ls
															-
																var dropMenu = [
																	'Беременным и кормящим мамам',
																	'Все для кормления детей',
																	'Детская гигиена и уход',
																	'Детское питание',
																	'Подгузники и пеленки',
																	'Пустышки, прорезыватели',
																	'Игрушки',
																]
															each item in dropMenu
																li
																	a(href)= item
											|
											|
			
											.cat_drop_rek
												a(href)
													img(src="img/index/category_menu_ads.jpg")
				|
				|
				
				.col-9
					.hdr_bd_info
						.hdr_bd_city
							-for (var i = 0; i < 2; i++)
								.hdr_bd_city_it
									.hdr_bd_city_sel
										select.base_input_solid.ap-n
											option Uzbekistan
											option Tashkent
										i.fa.fa-angle-down
						|
						|
						
						.hdr_bd_stbar
							.hdr_bd_tel
								p.tel
									a(href="tel:+998912345678") +998 91 234 56 78
								p.capt круглосуточно
							|
							|
							
							.hdr_bd_wish
								a.hdr_bd_wish_btn.active(href)
									i.fa.fa-heart-o
									i.fa.fa-heart
									span.val 12
							|
							|
							
							.hdr_bd_cart
								a.hdr_bd_cart_btn.active(href)
									div.hdr_bd_cart_img
										img.img(src="img/cart.png")
										span.val 12
										
									div.hdr_bd_cart_txt
										p Корзина
										p пуста
					|
					|
					
					.hdr_bd_search_bx
						form
							.hdr_bd_search
								input.base_input_solid.hdr_bd_search_inp(type="search" placeholder="По названию, или веществу среди 25 000 лекарств, например, аптечка в отпуск")
								+base_button('hdr_bd_search_btn color_alert', false) Поиск
	// |========== Header Body ==========|
|
|
|


// |=================================== Header Foot ===================================|
section.hdr_ft
	.container
		nav.navigation
			.nav_menu
				ul.nav_menu_ls
					-
						var navMenu = [
							'Главная',
							'О компании',
							'Новости',
							'Контакты',
						]
					each item in navMenu
						li
							a(href)= item
			|
			|
		
			.nav_scl
				ul.nav_scl_ls
					-
						var navSocial = [
							'fa-facebook',
							'fa-instagram',
							'fa-paper-plane',
							'fa-odnoklassniki',
						]
					each item in navSocial
						li
							a(href)
								i.fa(class= item)
		|
		|

		if header_banner
			.hdr_ft_bnr_bx
				.hdr_ft_bnr
					-for (var i = 0; i < 4; i++)
						.hdr_ft_bnr_it
							img.hdr_ft_bnr_img(src="img/index/banner_1.jpg")
							
							.hdr_ft_bnr_capt_bx
								.hdr_ft_bnr_capt
									.hdr_ft_bnr_capt_hd
										|Обновление каталога: 
										strong Средства от простуды для детей
									
									.hdr_ft_bnr_capt_bd.
										Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
									
									.hdr_ft_bnr_capt_ft
										+base_button('hdr_ft_bnr_capt_btn color_alert') Подробнее
	// |========== Header Foot ==========|





//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|

