



//- Base Button
//- =================================================================|
mixin base_button(class_name = '', tag_type = true, something = {})
	if tag_type
		a.btn(href="" class= class_name)&attributes( something )
			if block
				block
	else
		button.btn(type="submit" class= class_name)&attributes( something )
			if block
				block






//- Advert
//- =================================================================|
mixin advert(class_name = '', nav = true, banner = true)
	section.rek_sec(class= class_name)
		.container
			.rek
				.rek_ttl
					if nav
						include parts/advert_nav
				|
				|
				
				.rek_cnt
					if banner
						include parts/advert_banner
		|
		if block
			block






//- Base Title
//- =================================================================|
mixin base_title(class_name = '')
	h3.base_title(class= class_name)
		if block
			block






//- Base Menu
//- =================================================================|
mixin base_menu(collection, class_name = '', active = 1)
	ul.base_menu(class= class_name)
		each item, index in collection
			li(class= (index === active - 1) ? 'active' : '')
				a(href)= item






//- Base More
//- =================================================================|
mixin base_more(text, class_name = '')
	.base_more(class= class_name)
		a.base_more_btn(href)
			span.txt= text
			i.fa.fa-angle-right






//- Base HR
//- =================================================================|
mixin base_hr(class_name = '', container = true)
	.base_hr(class= class_name)
		if container
			.container
				.base_hr_line
		else
			.base_hr_line






//- Product Vertical
//- =================================================================|
mixin product_v(column_class = 'col-4 col-xl-3', iteration_count = 2)
	include parts/mixin_products
	
	+product_v_1(column_class, iteration_count)



//- Product Horizontal
//- =================================================================|
mixin product_h(column_class = '', like = true, iteration_count = 3)
	include parts/mixin_products
	
	+product_h_1(column_class, like, iteration_count)







//- Base Star
//- =================================================================|
mixin base_star(rate_number = 0, class_name = '')
	.base_star_bx(class= class_name)
		.base_star
			-for (var i = 0; i < 5; i++)
				i.fa.fa-star-o(class= (i < rate_number) ? 'active' : '')







//- Base Breadcrumb
//- =================================================================|
mixin base_bread(collection, class_name = '')
	.base_bread(class= class_name)
		ul.base_bread_ls
			each item, index in collection
				if index === collection.length - 1
					li= item
				else
					li
						a(href)= item







//- PC Menu
//- =================================================================|
mixin pc_menu(title = '', collection, active = 2, class_name = '')
	.per_cab_menu(class= class_name)
		.per_cab_menu_ttl
			h4= title
		|
		|

		.per_cab_menu_cnt
			ul.per_cab_menu_ls
				each item, index in collection
					li(class= (index === active - 1) ? 'active' : '')
						a(href)= item








//- Pagination First
//- =================================================================|
mixin pag_first(length = 5, class_name = '')
	ul.pag_first(class= class_name)
		-for (var i = 1; i <= length; i++)
			li(class= (i == 1) ? 'active' : '')
				a(href)= i








//- Pagination Second
//- =================================================================|
mixin pag_second(class_name = '')
	.pag_second(class= class_name)
		.pag_second_txt Страница 1 из 52
			
		ul.pag_second_ls
			li(class="active")
				a(href) 1
			
			li
				a(href) 2
			
			li ...
			
			li
				a(href) 52









//- Information Page Menu
//- =================================================================|
mixin info_page_menu(collection, active, class_name = '')
	ul.info_page_menu(class= class_name)
		each item, index in collection
			li(class= (index === active - 1) ? 'active' : '')
				a(href)
					span.txt= item
					i.fa.fa-angle-right










//- Image Upload
//- =================================================================|
mixin img_upload(round = false, class_name = '')
	label.img_upload.fx-c(class= ((round) ? 'round ' : '') + class_name)
		input.inp(type="file", hidden)
		img.img(src="")
		.txt Добавить










//- Pharmacy Table
//- =================================================================|
mixin pharmacy_table(type = true, iteration_count = 7)
	table.pharmacy_tb
		thead
			tr
				td.name НАЗВАНИЕ
				td.adrs Адрес
				td.dist РАЙОН
				td.tel Телефон
				if !type
					td.leng РАССТОЯНИЕ
				td.work РЕЖИМ РАБОТЫ
				if type
					td.act &nbsp;
		tbody
			-for (var i = 0; i < iteration_count; i++)
				tr
					td
						.pharmacy_tb_name
							a(href) Smart Pharma Solutions
					td г. Ташкент, ул. Садика Азимова, 68 поворот №15
					td Мирзо-Улугбекский р-н
					td
						p
							a(href="+998915054505") +998 91 505 45 05
						p
							a(href="+998712307666") +998 71 230 76 66
					if !type
						td.text-center 4 км
					td Пн-Вс: 09:00-21:00
					if type
						td
							.pharmacy_tb_act
								+base_button('pharmacy_tb_act_btn') Выбрать










//- Input Type
//- =================================================================|
mixin input_type()
	- var type = (attributes.type) ? 'radio' : 'checkbox'
	- var text = attributes.text
	- var class_name = (attributes.class_name) ? attributes.class_name : ''
	- var attribute = attributes.attribute

	label.us-n.input_type(class= type + ((text) ? ' text ' : ' ') + class_name)
		input.inp(type= type, hidden)&attributes( attribute )
		.sign.fx-c
		|
		if block
			block










//- Filter Group
//- =================================================================|
mixin filter_group(title, open, class_name = '')
	.filter_group(class= class_name)
		.filter_group_ttl.us-n(class= open ? 'active' : '')
			.txt= title
			
			i.fa.fa-angle-down
		|
		|
		
		.filter_group_cnt(style= open ? '' : 'display: none')
			if block
				block


















//- Base Button
//- =================================================================|













