-
	var js_library_root = 'lib/'
	var js_library = [
		js_library_root + 'bootstrap/js/bootstrap.bundle.min.js',
		js_library_root + 'owl_carousel/owl.carousel.min.js',
		js_library_root + 'int_tel_input/js/intlTelInput.min.js',
		js_library_root + 'slick/slick.min.js',
		js_library_root + 'fancybox/jquery.fancybox.min.js',
		js_library_root + 'noUiSlider/nouislider.min.js',
		js_library_root + 'noUiSlider/wNumb.js',
	]




	var js_custom_root = 'js/'
	var js_custom = [
		js_custom_root + 'custom.js',
	]