
-
	var css_library_root = 'lib/'
	var css_library = [
		css_library_root + 'bootstrap/css/bootstrap.min.css',
		css_library_root + 'font_awesome/css/font-awesome.min.css',
		css_library_root + 'owl_carousel/owl.carousel.css',
		css_library_root + 'owl_carousel/owl.transitions.css',
		css_library_root + 'owl_carousel/owl.theme.css',
		css_library_root + 'int_tel_input/css/intlTelInput.css',
		css_library_root + 'slick/slick.css',
		css_library_root + 'fancybox/jquery.fancybox.min.css',
		css_library_root + 'noUiSlider/nouislider.min.css',
	]




	var css_custom_root = 'css/'
	var css_custom = [
		css_custom_root + 'main.min.css',
		css_custom_root + 'responsive.min.css',
		css_custom_root + 'ie.min.css',
	]