



// |____________________ Reklama Nav (PART) ____________________|
nav.rek_nav
	.rek_nav_main
		a(href) Показать все аптеки
		span.txt 128 аптек
	|
	|

	ul.rek_nav_ls
		-
			var reklamaList = [
				'Как заказать',
				'Доставка',
				'Часто задаваемые вопросы',
				'Термины сайта',
			]
		each item in reklamaList
			li
				a(href)= item
	// |__________ Reklama Nav (PART) __________|






//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|






