




// |____________________ Reklama Banner (PART) ____________________|
.rek_bnr_bx
	.rek_bnr
		-for (var i = 0; i < 4; i++)
			a.rek_bnr_it(href)
				img.rek_bnr_img(src="img/index/banner_2.jpg")
				
				.rek_bnr_capt_bx
					.rek_bnr_capt.
						#[strong Кальций D-3 Никомед-]
						здоровье в норме,
						калорий нет
	|
	|
	
	.rek_bnr_nav
		.rek_bnr_btn.fx-c.prev
			i.fa.fa-angle-left
			
		.rek_bnr_btn.fx-c.next
			i.fa.fa-angle-right
	// |__________ Reklama Banner (PART) __________|








//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|



