





- var signs = 'АБВГДЕЖЗИЙКЛМНОПРСТУФХЦЧШЩЭЮЯABCDEFGHIJKLMNOPQRSTUVWXYZ'
	


// |____________________ Alphabet Signs (PART) ____________________|
.alphabet_signs
	sapn.letter
		each item in signs
			a(href)= item
	|
	|
	
	span.number
		a(href) 0-9
	// |__________ Alphabet Signs (PART) __________|








//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|






