

// |____________________ Cart Group (PART) ____________________|
.cart_gr
	.cart_gr_hd
		.cart_vendor
			| Вы заказли товары у продавца: 
			a(href) Smart Pharma Solutions
		|
		|

		.cart_cancel
			a(href) Отменить весь заказ
	|
	|

	.cart_gr_bd
		-for (var j = 0; j < 3; j++)
			.ord_arch_prod.cart_prod
				.row
					.col.cart_prod_desc
						+pc_product()(like = true)
					|
					|
	
					.col.cart_prod_qty
						+pc_quantity()(control = [true, false])
					|
					|
	
					.col.cart_prod_prc
						+pc_price()(text = [true, true])
					|
					|
	
					.col.cart_prod_prc_tot
						+pc_price_total(true)
	
						.cart_prod_del
							a(href) Удалить
	|
	|

	.cart_gr_ft
		.cart_dlvr
			.cart_dlvr_type
				.txt Тип доставки:

				.hdr_bd_city_sel
					select.base_input_solid.ap-n
						option Курьером (платно)
						option Самовывоз (бесплатно)
					i.fa.fa-angle-down
			|
			|

			.cart_dlvr_capt
				i.fa.fa-exclamation-circle
				| Интеллект естественно понимает под собой интеллигибельный закон внешнего мира,  открывая новые горизонты.
		|
		|

		.cart_total
			.cart_total_prc
				.cart_total_prc_it.cart_total_prc_dlvr
					.txt Стоимость доставки (сум):
					.val 25 000

				.cart_total_prc_it.cart_total_prc_all
					.txt Общая стоимость (сум):
					.val 2 355 400
			|
			|

			.cart_total_btn
				+base_button('color_alert', false) Заказать отдельно
	// |__________ Cart Group (PART) __________|






//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|






