


//- Product Vertical - 1
//- =================================================================|
mixin product_v_1(column_class, iteration_count)

	-
		var productData = [
			{
				'image': 'img/index/product_1.jpg',
				'notification': [
					'blue',
					'АКЦИЯ',
				],
				'like': true,
				'description': 'Фервекс порошок для р-ра для приема внутрь без сахара пакетики 8 шт',
				'price': '35 400',
				'discount': '40 000',
			},
			{
				'image': 'img/index/product_2.jpg',
				'notification': [
					'green',
					'ЛИДЕР ПРОДАЖ',
				],
				'like': false,
				'description': 'Колдакт Флю Плюс капсулы пролонг. 10 шт.',
				'price': '35 400',
				'discount': '',
			},
			{
				'image': 'img/index/product_1.jpg',
				'notification': [],
				'like': false,
				'description': 'Аскорбинка аскорбиновая кислота порошок со вкусом малины 500 мг пакетики 30 шт.',
				'price': '120 400',
				'discount': '40 000',
			},
		]
	
	
	
	// |____________________ Product Vertical (PART) ____________________|
	-for (var i = 0; i < iteration_count; i++)
		each item, index in productData
			div(class= column_class)
				.product_v
					.product_v_hd
						.product_v_img.fx-c
							img.img(src= item.image)
		
						a.product_v_like(href, class= (item.like) ? 'active' : '')
							i.fa.fa-heart-o
							i.fa.fa-heart
		
						if (item.notification)
							.product_v_ntf.fx-c(class= item.notification[0])= item.notification[1]
					|
					|
		
					.product_v_bd
						p= item.description
					|
					|
		
					.product_v_ft
						.product_v_price_bx
							.product_v_price
								span.val= item.price
								|
								|
								span.txt сум
							if item.discount
								.product_v_discount= item.discount
		
						.product_v_btn_bx
							+base_button('product_v_btn color_alert') Купить
		// |__________ Product Vertical (PART) __________|








//- Product Horizontal - 1
//- =================================================================|
mixin product_h_1(column_class, like, iteration_count)

	-
		var productData = [
			{
				'image': 'img/index/product_1.jpg',
				'like': true,
				'description': 'Иннова Сенситив зубная паста Интенсивное восстановление эмали 75 мл Иннова Сенситив зубная паста Интенсивное восстановление эмали 75 мл Иннова Сенситив зубная паста Интенсивное восстановление эмали 75 мл',
				'price': '35 400',
				'discount': true,
				'exist': false,
			},
			{
				'image': 'img/index/product_2.jpg',
				'like': false,
				'description': 'Иннова Сенситив зубная паста Интенсивное',
				'price': '1 235 400',
				'discount': false,
				'exist': true,
			},
		]
	
	
	
	// |____________________ Product Horizontal (PART) ____________________|
	-for (var i = 0; i < iteration_count; i++)
		each item, index in productData
			.product_h(class= column_class)
				.product_h_img.fx-c
					img(src= item.image)

					if like
						a(href, class= item.like ? 'active' : '').product_v_like.product_h_like
							i.fa.fa-heart-o
							i.fa.fa-heart
				|
				|

				.product_h_txt
					.product_h_desc
						p= item.description

					.product_h_art Арт. 210038

					ul.product_h_info
						li
							.txt Производитель
							.val Крафт, Россия

						li
							.txt Срок годности
							.val до 01.03.2022
				|
				|

				.product_h_ctrl
					.product_h_ctrl_inr
						.product_h_price_bx
							.product_h_price
								.txt Цена
								.val
									strong #{item.price}
									|  сум

							if item.discount
								.product_h_discount 40 000
						|
						|

						.product_h_btn_bx
							+base_button('color_alert product_h_btn') Купить
						|
						|

						.product_h_status(class= item.exist ? 'active' : '')= item.exist ? 'В наличии' : 'Нет в наличии'
		// |__________ Product Horizontal (PART) __________|




















//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|



