

//- PC Product
//- =================================================================|
mixin pc_product()
	- var like = attributes.like
	- var date = attributes.date

	-
		var pcProduct = [
			{
				'image': 'img/index/product_2.jpg',
				'like': true,
				'title': 'Наименование товара',
				'description': 'Аскорбинка аскорбиновая кислота порошок со вкусом малины 500 мг пакетики 30 шт.',
				'article': 'Арт. 210038',
				'date': 'Добавлено: 18.08.2018',
			},
		]
	each item in pcProduct
		.pc_prod
			a.pc_prod_img(href).fx-c
				img(src= item.image)

				if like
					.pc_prod_like(class= (item.like) ? 'active' : '')
						i.fa.fa-heart-o
						i.fa.fa-heart
			|
			|

			.pc_prod_txt
				.pc_prod_title= item.title

				a.pc_prod_desc(href)= item.description

				.pc_prod_art_bx
					.pc_prod_art= item.article

					if date
						.pc_prod_date= item.date












//- PC Quantity
//- =================================================================|
mixin pc_quantity()
	- var text = attributes.text
	- var control = (attributes.control) ? attributes.control : [false, false]
	- var edit = (attributes.edit) ? attributes.edit : [false, false]

	.pc_prod_qty
		.pc_prod_title Кол-во

		if text
			.pc_prod_qty_text 5


		if control[0]
			.pc_prod_qty_ctrl(class= (control[1]) ? 'disabled' : '')
				button.bt.minus(type="button")
					i.fa.fa-minus

				input.pc_inp.inp(type="text", value="3", disabled= control[1])

				button.bt.plus(type="button")
					i.fa.fa-plus


		if edit[0]
			.pc_prod_qty_edit
				input.pc_inp.inp(type="text", value="0", disabled= edit[1])










//- PC Price
//- =================================================================|
mixin pc_price()
	- var text = (attributes.text) ? attributes.text : [false, false]
	- var edit = (attributes.edit) ? attributes.edit : [false, false]

	.pc_prod_prc
		.pc_prod_title Цена

		if text[0]
			.pc_prod_prc_text
				.pc_prod_prc_text_inr
					.price #[strong 2 250 000] сум
					if text[1]
						.discount 40 000


		if edit[0]
			.pc_prod_prc_edit
				input.pc_inp.inp(type="text", value="0", disabled= edit[1])










//- PC Price
//- =================================================================|
mixin pc_price_total(text = false)

	.pc_prod_prc_tot
		.pc_prod_title Итого

		if text
			.pc_prod_prc_text
				.pc_prod_prc_text_inr
					.price #[strong 2 250 000] сум












//- PC Order
//- =================================================================|
mixin pc_order(vendor = false)
	.ord_arch
		.ord_arch_ttl ID заказа: DF 124-45
		|
		|

		.ord_arch_cnt
			.ord_arch_hd
				.left
					p
						| Вы заказли товары у продавца: 
						a(href) Smart Pharma Solutions

					p.merge
						span Сумма доставки: #[strong 25 000 сум]
						span Тип доставки: #[strong Курьером]
				|
				|

				.right
					p Сумма заказа: #[strong 2 335 400 сум]
					p Статус заказа: #[strong в ожидание]
			|
			|

			.ord_arch_bd
				-for (var j = 0; j < 3; j++)
					.ord_arch_prod
						.row
							.col.ord_arch_prod_desc
								+pc_product()(like = true)
							|
							|
	
							.col.ord_arch_prod_qty
								+pc_quantity()(text = true)
							|
							|
	
							.col.ord_arch_prod_prc
								+pc_price()(text = [true, false])
			|
			|

			.ord_arch_ft
				.ord_arch_price_t
					span.txt Общая стоимость (сум):
					span.val 2 355 400

				+base_button('ord_arch_btn color_alert')= (vendor) ? 'Заказ доставлен' : 'Повторить заказ'













//- PC Action Button
//- =================================================================|
mixin pc_action_btn(type = '')
	include ../mixins

	.pc_action_btn_bx
		+base_button('pc_action_btn ' + type, false)
			if block
				block













//- PC Cart Foot
//- =================================================================|
mixin pc_cart_foot(cart = true)
	include ../mixins

	.cart_foot
		.cart_back
			a(href)
				i.fa.fa-angle-double-left
				| Вернуться на #{(cart) ? 'главную' : 'корзину'}

		.cart_overall
			.cart_overall_prc
				.cart_overall_prc_it.cart_overall_prc_prod
					.txt Общая стоимость товаров (сум):
					.val 6 330 400

				.cart_overall_prc_it.cart_overall_prc_dlvr
					.txt Стоимость доставки (сум):
					.val 25 000
			|
			|

			.cart_overall_sum
				.txt Общая сумма:
				.val 6 355 400 сум
			|
			|

			.cart_overall_btn
				+base_button('color_alert', false)  #{(cart) ? 'ОФОРМИТЬ' : 'ОпЛАТИТЬ'} ЗАКАЗ












//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|





