extends modal_base
include ../mixins


append modal_vars
	-
		var
			modal_id = '',
			modal_class = 'modal_auth'





block head
	.nav.modal_auth_nav
		a.btn.active(href="#modal_auth_1", data-toggle="tab", id="modal_auth_log") Войти
		a.btn(href="#modal_auth_2", data-toggle="tab", id="modal_auth_reg") Регистрация






block body
	.tab-content.modal_auth_tab
		.tab-pane.fade.show.active(id="modal_auth_1")
			.modal_log
				form
					.form-group
						.modal_auth_inp
							.modal_auth_img.fx-c
								img(src="img/modal/icon_man.png")

							.modal_auth_sel
								select.form-control.ap-n
									option Покупатель
									option Продавец
									option Пользователь

								i.fa.fa-angle-down
					|
					|

					.form-group
						.modal_auth_inp
							.modal_auth_img.fx-c
								img(src="img/modal/icon_tel.png")
							input.form-control(type="tel", placeholder="Телефон")
					|
					|

					.form-group
						.modal_auth_inp
							.modal_auth_img.fx-c
								img(src="img/modal/icon_key.png")
							input.form-control(type="password", placeholder="Пароль")
					|
					|

					.form-group
						+input_type()(text = true, class_name = 'modal_auth_chk')
							| Запомнить меня
					|
					|

					+base_button('color_alert modal_auth_btn', false) Войти
		|
		|

		.tab-pane.fade(id="modal_auth_2")
			.modal_reg
				form
					.form-group
						.modal_auth_inp
							.modal_auth_img.fx-c
								img(src="img/modal/icon_man.png")
							
							.modal_auth_sel
								select.form-control.ap-n(data-code-active)
									option Покупатель
									option Продавец
									option Пользователь
		
								i.fa.fa-angle-down
					|
					|
					
					.form-group
						.modal_auth_inp
							.modal_auth_img.fx-c
								img(src="img/modal/icon_tel.png")
							input.form-control(type="tel", placeholder="Телефон", data-code-active)
					|
					|
					
					.form-group
						.modal_auth_inp
							.modal_auth_img.fx-c
								img(src="img/modal/icon_key.png")
							input.form-control(type="password", placeholder="Пароль", data-code-active)
					|
					|
					
					.form-group
						.modal_reg_tel
							.modal_auth_inp.modal_reg_tel_inp
								.modal_auth_img.fx-c
									img(src="img/modal/icon_sms.png")
								input.form-control(type="text", placeholder="СМС Код", data-code-disabled, disabled)
							|
							|

							+base_button('color_base modal_reg_tel_btn', false, {'data-code': ''}) Получить Код
						|
						|
						
						.modal_reg_tel_capt.
							Если вы регистрируетесь впервые, то получите 
							пароль по SMS
					|
					|
					
					.form-group
						+input_type()(text = true, class_name = 'modal_auth_chk')
							| Я согласен с условиями 
							a(href) оферты
					|
					|
					
					+base_button('color_alert modal_auth_btn', false) Зарегистрироваться








//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|