

block modal_vars
	-
		var
			modal_id = '',
			modal_class = ''




.modal.fade.modal_base(id=modal_id class=modal_class)
	.modal-dialog
		.modal-content

			button.modal_base_cls(type="button", data-dismiss="modal")
			|
			|

			.modal_base_ttl
				block head
			|
			|
			
			.modal_base_cnt
				block body








//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|