extends modal_base
include ../mixins


append modal_vars
	-
		var
		modal_id = '',
		modal_class = 'modal_ctt'





block head
	.modal_ctt_ttl Обратная связь






block body
	.modal_ctt_cnt
		form
			.form-group
				input.form-control(type="text", placeholder="Имя")
			|
			|

			.form-group
				input.form-control(type="tel", placeholder="Телефон")
			|
			|

			.form-group
				textarea.form-control(rows="7", placeholder="Сообщение")
			|
			|

			+base_button('color_alert modal_ctt_btn', false) Отправить








//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|