


// |____________________ News Item (PART) ____________________|
.news_it
	.news_it_img
		img.img(src="img/news/news_img.jpg")

		.news_it_date 02.08.2018
	|
	|

	.news_it_txt
		.news_it_name Открытие нового раздела на сайте

		.news_it_desc.
			С другой стороны начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного 
			развития. Товарищи!

		.news_it_act
			.news_it_more
				a(href) Подробнее
					i.fa.fa-long-arrow-right
			|
			|

			.news_it_hash #экономика
	// |__________ News Item (PART) __________|






//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|






