

// |____________________ Pharmacy Map (PART) ____________________|
.pharmacy_map
	img.pharmacy_map_img(src="img/pharmacy/map.jpg")

	.pharmacy_map_marker(style={'top': '300px', 'left': '200px'})
		.pharmacy_map_marker_icon.fx-c
			img.img(src="img/pharmacy/marker_icon.png")
		|
		|

		.pharmacy_map_pop.active
			.pharmacy_map_pop_hd
				a(href) Smart Pharma Solutions
			|
			|

			.pharmacy_map_pop_bd
				p г. Ташкент, ул. Садика Азимова, 68
				p.base Мирзо-Улугбекский район
				p +998 91 505 45 05
				p +998 71 230 76 66
				p Пн-Вс: 09:00-21:00
			|
			|

			.pharmacy_map_pop_ft
				+base_button('pharmacy_tb_act_btn pharmacy_map_pop_btn') Выбрать
	|
	|

	.pharmacy_map_gr(style={'top': '300px', 'left': '400px'})
		.pharmacy_map_gr_num.fx-c 8
	// |__________ Pharmacy Map (PART) __________|






//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|






