
extends includes/main
include includes/mixins

append variables
	- var title = 'about company'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main
	
	// |=================================== Description ===================================|
	section.about_desc_sec
		.about_desc
			+base_title('about_desc_ttl')
				.container О компании
			|
			|

			.about_desc_cnt
				.about_desc_hd
					.container
						.text-editor
							include includes/parts/about_company_text
				|
				|
				
				.about_desc_bd
					.container
						.row
							.col-5
								.about_desc_bd_img
									img(src="img/about_company/doctors.png")
							
							.col-7
								.text-editor
									include includes/parts/about_company_text
				|
				|
				
				.about_desc_ft
					.container
						.text-editor
							include includes/parts/about_company_text
		// |========== Description ==========|
	|
	|
	|


	// |____________________ Line Separator ____________________|
	+base_hr()
	|
	|
	|


	// |=================================== Comment ===================================|
	section.about_cmt_sec
		.container
			.about_cmt
				+base_title('about_cmt_ttl') Отзывы наших покупателей
				|
				|
	
				.about_cmt_cnt
					.about_cmt_wr
						.row
							.col-8
								.about_cmt_wr_field
									form
										.about_cmt_wr_field_bd
											textarea.form-control.about_cmt_wr_txtar(placeholder="Только зарегистрированные пользователи могут оставлять отзывы.")
										|
										|
										
										.about_cmt_wr_field_ft
											.about_cmt_wr_star
												.txt Ваша оценка:
												
												+base_star(0, 'rate')
											|
											|
											
											+base_button('about_cmt_wr_btn color_alert', false) Добавить отзыв
							|
							|
							
							.col-4
								.about_cmt_wr_stat
									.about_cmt_wr_stat_all
										+base_star(4)
										
										.txt 259 отзывов
									|
									|
									
									.about_cmt_wr_stat_info
										.about_cmt_wr_stat_info_hd Отзывы с оценкой
										|
										|
										
										.about_cmt_wr_stat_info_bd
											ul.about_cmt_wr_stat_info_ls
												-
													var statisticsInfo = [
														{
															'number': 5,
															'text': '67% - 162 отзывов',
														},
														{
															'number': 4,
															'text': '10% - 25 отзывов',
														},
														{
															'number': 3,
															'text': '5% - 13 отзывов',
														},
														{
															'number': 2,
															'text': '5% - 11 отзывов',
														},
														{
															'number': 1,
															'text': '13% - 31 отзывов',
														},
													]
												each item in statisticsInfo
													li
														+base_star(item.number)
														
														.txt= item.text
										|
										|
										
										.about_cmt_wr_stat_info_ft
											a.about_cmt_wr_stat_info_btn(href) Показать все отзывы
					|
					|
					
					.about_cmt_it_bx
						ul.about_cmt_it_ls
							-
								var commentItem = [
									{
										'name': 'Игорь Федоров',
										'number': 4,
									},
									{
										'name': 'Алена Еремеева',
										'number': 3,
									},
								]
							each item in commentItem
								li
									.about_cmt_it
										.about_cmt_it_ttl
											.name= item.name
												
											+base_star(item.number)
										|
										|
										
										.about_cmt_it_cnt
											include includes/parts/about_company_text
						|
						|
						+base_more('Больше отзывов', 'about_cmt_it_mr')
		// |========== Comment ==========|
	|
	|
	|







	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|