extends includes/main
include includes/mixins

append variables
	- var title = 'alphabet'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert()
		// |========== Reklama ==========|
	|
	|
	|


	-
		var drugs = [
			'А-церумен', 'А.Т.10', 'Абактал', 'Абергин', 'Абилифай', 'Абисиб', 'Абоми', 'Авамис', 'Авандаглим', 'Авандамет', 'Авандия', 'Авастин', 'Авекорт', 'Авелокс', 'Авена-плюс', 'Авиа-Море', 'Авиамарин', 'Авиамарин', 'Авиоплант', 'Ависан', 'Авитар', 'Аводарт', 'Авонекс', 'Агалатес', 'Агапурин', 'Агапурин СР', 'Агенераза', 'Агиолакс', 'Агнукастон', 'Агнус-плюс', 'Агрегаль', 'Агренокс', 'Агри', 'Агри (Антигриппин гомеопатический)', 'Агри детский', 'Адаклин', 'Адалат', 'Адалат СЛ', 'Адаптол', 'Адвантан', 'Аддамель Н', 'Аддитива Витамин C', 'Аддитива кальций', 'Аддитива Магний', 'Аддитива Мультивитамины', 'Адебит', 'Адельфан-Эзидрекс', 'Адепресс', 'Аджисепт', 'Адисорд', 'Адиуретин', 'Адиуретин СД', 'Адонис-бром', 'Адреналин', 'Адреналина Гидрохлорид', 'Адрианол', 'Адрибластин', 'Аевит', 'Аекол',
		]
	// |=================================== Alphabet ===================================|
	section.alph_sec
		.container
			.alph
				.alph_hd
					+base_title('alph_ttl') Лекарства по алфавиту
					
					include includes/parts/alphabet_signs
				|
				|
				
				.alph_bd
					.row
						.col-9
							.alph_main
								ul.alph_drug
									each item in drugs
										li
											a(href)= item
						|
						|
						
						.col-3
							.alph_asd
								include includes/parts/pc_advert
				|
				|
				
				.alph_ft
					include includes/parts/alphabet_signs
		// |========== Alphabet ==========|














//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|
