extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'order person'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0', true, false)
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Personal Cabinet ===================================|
	section.per_cab_sec
		.container
			.per_cab
				
				-
					var breadData = [
						'Главная',
						'Персональный кабинет',
					]
				+base_bread(breadData, 'per_cab_pag')
				|
				|
				
				+base_title('per_cab_ttl') Персональный кабинет
				|
				|

				.per_cab_cnt
					.row
						.col-3
							.per_cab_asd
								.per_cab_asd_it
									-
										var pcMenu = [
											'Мои заказы',
											'Мои данные',
											'Адреса Доставки',
											'Избранные товары',
											'Безопасность',
										]
									+pc_menu('Мой кабинет', pcMenu, 1)
								|
								|
								
								.per_cab_asd_it
									include includes/parts/pc_advert
						|
						|
					
						.col-9
							.per_cab_main
								.per_cab_tab
									.nav.per_cab_tab_ttl
										a.btn(href="#id_1", data-toggle="tab") Текущие заказы
										|
										|
										
										a.btn.active(href="#id_2", data-toggle="tab") Архив заказов
									|
									|
		
									.tab-content.per_cab_tab_cnt
										.tab-pane.fade(id="id_1")
											.ord_arch_bx
												+pc_order()
										|
										|
										
										.tab-pane.fade.show.active(id="id_2")
											.ord_arch_bx
												-for (var i = 0; i < 2; i++)
													+pc_order()
		// |========== Personal Cabinet ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|