extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'cart'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main


	// |=================================== Cart ===================================|
	section.cart_sec
		.container
			.cart
				-
					var breadData = [
						'Главная',
						'Корзина',
					]
				+base_bread(breadData, 'cart_bread')
				|
				|
				
				
				.cart_hd
					+base_title('cart_ttl') Корзина
					|
					|
					
					+base_button('cart_continue color_base') Продолжить покупки
				|
				|
				
				.cart_bd
					-for (var i = 0; i < 2; i++)
						include includes/parts/cart_group
				|
				|
				
				.cart_ft
					+pc_cart_foot()
					
		// |========== Cart ==========|



















//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|