extends includes/main
include includes/mixins

append variables
	- var title = 'catalog'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = true




block main

	// |=================================== Reklama ===================================|
	+advert()
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Catalog ===================================|
	section.catalog_sec
		.container
			.catalog
				+base_title('catalog_ttl') Каталог товаров

				.catalog_cnt
					.row.catalog_row
						-for (var i = 0; i < 5; i++)
							.col-4.catalog_col
								.catalog_it
									.catalog_img
										img(src="img/catalog/catalog_img.jpg")
									
									.catalog_txt
										.catalog_name
											a(href) Гигиена и косметика
										
										ul.catalog_menu
											li
												a(href) Средства для парентерального и энтерального питания
											li
												a(href) Простуда и грипп
											li
												a(href) Антисептики и дезинфицирующие средства
											li
												a(href) От паразитов
		// |========== Catalog ==========|














//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|
