extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'wish product'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0', true, false)
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Personal Cabinet ===================================|
	section.per_cab_sec
		.container
			.per_cab

				-
					var breadData = [
						'Главная',
						'Персональный кабинет',
					]
				+base_bread(breadData, 'per_cab_bread')
				|
				|

				+base_title('per_cab_ttl') Персональный кабинет
				|
				|

				.per_cab_cnt
					.row
						.col-3
							.per_cab_asd
								.per_cab_asd_it
									-
										var pcMenu = [
											'Мои заказы',
											'Мои данные',
											'Адреса Доставки',
											'Избранные товары',
											'Безопасность',
										]
									+pc_menu('Мой кабинет', pcMenu, 4)
								|
								|

								.per_cab_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.per_cab_main
								.wish_prod
									+base_title('wish_prod_ttl') Избранные товары
									|
									|
									
									.wish_prod_cnt
										.wish_prod_hd
											| Сортировать по: 
											a(href) Дате
												i.fa.fa-long-arrow-down
										|
										|
										
										.ord_arch_bd.wish_prod_bd
											-for (var i = 0; i < 3; i++)
												.ord_arch_prod.wish_prod_it
													.row
														.col.wish_prod_it_desc
															+pc_product()(date = true)
														|
														|
	
														.col.wish_prod_it_prc
															+pc_price()(text = [true, false])
										|
										|
										
										.wish_prod_ft
											+pag_first(6)
		// |========== Personal Cabinet ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|