extends includes/main
include includes/mixins

append variables
	- var title = 'contact'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main


	// |=================================== Application ===================================|
	section.contact_sec
		.container
			.contact
				-
					var breadData = [
						'Главная',
						'Контакты',
					]
				+base_bread(breadData, 'contact_bread')
				|
				|

				+base_title('contact_ttl') Контакты
				|
				|

				.contact_cnt
					.row
						.col-4
							.contact_info
								ul.contact_info_ls
									li
										.txt Телефон
										.val
											a(href="tel:+998915054505") +998 91 505 45 05
											br
											a(href="tel:+998712307666") +998 71 230 76 66

									li
										.txt Адрес
										.val
											| Узбекистан, г. Ташкент,
											br
											| ул. С. Азимова, 68

									li
										.txt Email
										.val
											a(href="mailto:marketing@onpharmacy.uz") marketing@onpharmacy.uz
											br
											a(href="mailto:info@onpharmacy.uz") info@onpharmacy.uz
								|
								|
							
								.contact_scl
									.contact_scl_ttl Мы в соц. сетях
	
									.contact_scl_cnt
										ul.contact_scl_ls
											-
												var contactSocial = [
													'fa-facebook',
													'fa-instagram',
													'fa-paper-plane',
													'fa-odnoklassniki',
												]
											each item in contactSocial
												li
													a(href)
														i.fa(class= item)
						|
						|

						.col-8
							.contact_form
								.contact_form_ttl Обратная связь
								
								.contact_form_cnt
									form
										.row
											.col-6
												.form-group
													input.form-control(type="text", placeholder="Имя")

											.col-6
												.form-group
													input.form-control(type="tel", placeholder="Телефон")
										|
										|

										.row
											.col-6
												.form-group
													input.form-control(type="email", placeholder="Email")

											.col-6
												.form-group
													input.form-control(type="text", placeholder="Компания")
										|
										|

										.form-group
											textarea.form-control(rows="7", placeholder="Сообщение")
										|
										|
										
										+base_button('color_alert contact_form_btn', false) Отправить
		// |========== Application ==========|
	|
	|
	|


	// |=================================== Map ===================================|
	.contact_map
		img(src="img/contact/map.jpg")
		// |========== Map ==========|














//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|
