extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'delivery address'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0', true, false)
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Personal Cabinet ===================================|
	section.per_cab_sec
		.container
			.per_cab

				-
					var breadData = [
						'Главная',
						'Персональный кабинет',
					]
				+base_bread(breadData, 'per_cab_bread')
				|
				|

				+base_title('per_cab_ttl') Персональный кабинет
				|
				|

				.per_cab_cnt
					.row
						.col-3
							.per_cab_asd
								.per_cab_asd_it
									-
										var pcMenu = [
											'Мои заказы',
											'Мои данные',
											'Адреса Доставки',
											'Избранные товары',
											'Безопасность',
										]
									+pc_menu('Мой кабинет', pcMenu, 3)
								|
								|

								.per_cab_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.per_cab_main
								.dlvr_adrs
									.dlvr_adrs_saved
										+base_title('dlvr_adrs_saved_hd') Ваши сохраненные адреса
											
										.dlvr_adrs_saved_bd
											table.dlvr_adrs_saved_tb
												thead
													tr
														td.name Получатель
														td.loc Локация
														td.adrs Адрес
														td.ctt Контакты
														td.act Действие
													
												tbody
													tr
														td
															.dlvr_adrs_saved_name
																i.fa.fa-user
																| Jasur
														td.
															Узбекистан, г. Ташкент
															г. Ташкент
														td.
															Яшнобадский р-н, ул. Садика 
															Азимова, 68
														td
															p
																a(href="+998915054505") +998 91 505 45 05
															p
																a(href="+998712307666") +998 71 230 76 66
														td
															.dlvr_adrs_saved_act
																a.bt(href) изменить
																span.ln |
																a.bt(href) удалить
											
										.dlvr_adrs_saved_ft
											+base_button('color_alert dlvr_adrs_saved_btn') Добавить адрес доставки
									|
									|
									
									.dlvr_adrs_new(style={display: 'none'})
										+base_title('dlvr_adrs_new_ttl') Добавление нового адреса
										
										.dlvr_adrs_new_cnt
											form
												.form-group.row
													.col-3.col-form-label.dlvr_adrs_new_lbl Получатель
														
													.col-6
														input.form-control.dlvr_adrs_new_inp(type="text", placeholder="Ваше имя")
												|
												|
												
												.form-group.row
													.col-3.col-form-label.dlvr_adrs_new_lbl Страна
														
													.col-6
														.hdr_bd_city_sel
															select.form-control.dlvr_adrs_new_inp.ap-n
																option Выберите страну из списка
																option Выберите страну из списка
																option Выберите страну из списка
															
															i.fa.fa-angle-down
												|
												|
												
												.form-group.row
													.col-3.col-form-label.dlvr_adrs_new_lbl Регион
														
													.col-6
														.hdr_bd_city_sel
															select.form-control.dlvr_adrs_new_inp.ap-n
																option Выберите регион из списка
																option Выберите регион из списка
																option Выберите регион из списка

															i.fa.fa-angle-down
												|
												|
												
												.form-group.row
													.col-3.col-form-label.dlvr_adrs_new_lbl Область
														
													.col-6
														.hdr_bd_city_sel
															select.form-control.dlvr_adrs_new_inp.ap-n
																option Выберите город из списка
																option Выберите город из списка
																option Выберите город из списка

															i.fa.fa-angle-down
												|
												|
												
												.form-group.row
													.col-3.col-form-label.dlvr_adrs_new_lbl Адрес
														
													.col-6
														textarea.form-control.dlvr_adrs_new_inp(rows="5", placeholder="Ваш адрес (включая район)")
												|
												|

												.form-group.row
													.col-3.col-form-label.dlvr_adrs_new_lbl Телефон

													.col-6
														input.form-control.dlvr_adrs_new_inp(type="tel", placeholder="Мобильный +998 __ ___-__-__")
												|
												|

												.form-group.row
													.col-6.offset-3
														input.form-control.dlvr_adrs_new_inp(type="tel", placeholder="Городской +998 __ ___-__-__")
												|
												|

												.row.mt-4.pt-3
													.col-6.offset-3
														+base_button('color_alert dlvr_adrs_new_btn', false) Добавить адрес

		// |========== Personal Cabinet ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|