extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'faq'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== FAQ ===================================|
	section.info_page_sec
		.container
			.info_page

				-
					var breadData = [
						'Главная',
						'Часто задаваемые вопросы',
					]
				+base_bread(breadData, 'info_page_bread')
				|
				|

				+base_title('info_page_ttl') Часто задаваемые вопросы
				|
				|

				.info_page_cnt
					.row
						.col-3
							.info_page_asd
								.info_page_asd_it
									-
										var infoPageMenu = [
											'Как заказать',
											'Доставка',
											'Часто задаваемые вопросы',
											'Термины сайта',
										]
									+info_page_menu(infoPageMenu, 3)
								|
								|

								.info_page_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.info_page_main
								.info_page_faq_text.text-editor
									-for (var i = 0; i < 3; i++)
										p
											strong.
												#{i + 1}.С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.
										
										p.
											Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
								|
								|
								
								+base_hr('info_page_faq_hr', false)
								|
								|
								
								.info_page_faq_form
									+base_title('info_page_faq_form_ttl') Задавать вопрос

									.info_page_faq_form_cnt.contact_form_cnt
										form
											.form-group
												textarea.form-control(rows="10", placeholder="Только зарегистрированные пользователи могут задавать вопросы")
											|
											|

											.row
												.col-6
													.form-group
														input.form-control(type="text", placeholder="Имя")

												.col-6
													.form-group
														input.form-control(type="tel", placeholder="Телефон")
											|
											|

											+base_button('color_alert info_page_faq_form_btn', false) Задать вопрос

		// |========== FAQ ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|