extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'PC goods (1, 2, create)'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0', true, false)
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Personal Cabinet ===================================|
	section.per_cab_sec
		.container
			.per_cab

				-
					var breadData = [
						'Главная',
						'Персональный кабинет',
					]
				+base_bread(breadData, 'per_cab_bread')
				|
				|

				+base_title('per_cab_ttl') Персональный кабинет
				|
				|

				.per_cab_cnt
					.row
						.col-3
							.per_cab_asd
								.per_cab_asd_it
									-
										var pcMenu = [
											'Мои заказы',
											'Информация о аптеке',
											'Мои товары',
											'Безопасность',
										]
									+pc_menu('Мой кабинет', pcMenu, 3)
								|
								|

								.per_cab_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.per_cab_main
								.per_cab_tab
									.nav.per_cab_tab_ttl
										a.btn(href="#id_1", data-toggle="tab") Добавить товары из файла
										|
										|

										a.btn.active(href="#id_2", data-toggle="tab") Добавить товары из списка
										|
										|

										a.btn(href="#id_3", data-toggle="tab") Создать товар для каталога
									|
									|

									.tab-content.per_cab_tab_cnt
										.tab-pane.fade(id="id_1")
											.pc_good_1
												.pc_good_1_upl
													label.input-group.pc_good_1_upl_lbl
														.input-group-prepend
															.input-group-text
																i.fa.fa-upload
														
														.form-control.pc_good_1_upl_inp Файл не выбран...
														
														input(type="file", hidden)
													|
													|
													
													+base_button('color_alert pc_good_1_upl_btn', false) Загрузить
												|
												|
												
												.pc_good_1_file
													.pc_good_1_file_nav
														.pc_good_1_file_ttl Загруженные файлы
														
														.pc_good_1_file_act
															button.bt.down(type="submit")
																i.fa.fa-download
																| Скачать выбранные файлы
															
															button.bt.del(type="submit")
																i.fa.fa-trash
																| Удалить выбранные файлы
													|
													|
													
													table.pc_good_1_file_tb
														thead
															tr
																td(colspan="2") Дата загрузки
																td Название файла
														|
														|
														
														tbody
															-for (var i = 0; i < 10; i++)
																tr
																	td.check
																		+input_type()
																	
																	td.date
																		.pc_good_1_file_date 09.07.2018 16:33
																	
																	td.name
																		a.pc_good_1_file_name(href) Chapter-14-RU-Measuring-Medicine-Prices-Methodology.xls
												
										|
										|

										.tab-pane.fade.show.active(id="id_2")
											.pc_good_2
												.pc_good_2_ttl
													form
														.hdr_bd_search
															input.base_input_solid.hdr_bd_search_inp(type="search" placeholder="Фильтровать по названию")
															+base_button('hdr_bd_search_btn color_alert', false) Показать
												|
												|
												
												.pc_good_2_cnt
													-
														var good2 = [
															{
																'number': [true, false],
																'price': [true, false],
																'button': [
																	'',
																	'Подтвердить'
																],
															},
															{
																'number': [true, false],
																'price': [true, false],
																'button': [
																	'color_alert',
																	'Подтвердить'
																],
															},
															{
																'number': [true, true],
																'price': [true, true],
																'button': [
																	'color_base',
																	'Изменить'
																],
															},
														]
													each item in good2
														.ord_arch_prod.pc_good_2_prod
															.row
																.col.pc_good_2_prod_desc
																	+pc_product()
																|
																|
	
																.col.pc_good_2_prod_qty
																	+pc_quantity()(edit = item.number)
																|
																|
	
																.col.pc_good_2_prod_prc
																	+pc_price()(edit = item.price)
																|
																|
	
																.col.pc_good_2_prod_act
																	+pc_action_btn(item.button[0])= item.button[1]
										|
										|

										.tab-pane.fade(id="id_3")
											.pc_good_create
												.pc_good_create_ttl Загруженные файлы
												|
												|
												
												.pc_good_create_cnt
													.pc_good_create_txt.
														Отправьте как можно больше информации администрации сайта, по этим данным, администратор добавит товар на базу сайта. После добавления товара, вы можете добавить эти товары в список своих товаров.

													.pc_good_create_txtar
														textarea.form-control(placeholder="Напишите описание товара, название или ссылку на товар.", rows="7")
													
													.pc_good_create_act
														.pc_good_create_upl
															label.lbl
																input(type="file", hidden)
																i.fa.fa-upload
																| Загрузить excel файл
															
															label.lbl
																input(type="file", hidden)
																i.fa.fa-image
																| Загрузить фото товара
														|
														|
														
														ul.pc_good_create_upl_ls
															li
																| asdasdasdasd.xls 
																a.bt(href)
																	i.fa.fa-close
															|
															|
															
															li
																| asdasdasdasd.xls 
																a.bt(href)
																	i.fa.fa-close
													|
													|
													
													+base_button('color_alert pc_good_create_btn', false) Отправить
		// |========== Personal Cabinet ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|