extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'how to order'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== How to Order ===================================|
	section.info_page_sec
		.container
			.info_page

				-
					var breadData = [
						'Главная',
						'Как заказать',
					]
				+base_bread(breadData, 'info_page_bread')
				|
				|

				+base_title('info_page_ttl') Как заказать
				|
				|

				.info_page_cnt
					.row
						.col-3
							.info_page_asd
								.info_page_asd_it
									-
										var infoPageMenu = [
											'Как заказать',
											'Доставка',
											'Часто задаваемые вопросы',
											'Термины сайта',
										]
									+info_page_menu(infoPageMenu, 1)
								|
								|

								.info_page_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.info_page_main
								.info_page_main_dlvr.text-editor
									img(src="img/info/how_to_order_1.jpg")

									p
										strong.
											С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.

									p.
										Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.

									.row
										.col-6
											img(src="img/info/how_to_order_2.jpg")

										.col-6
											img(src="img/info/how_to_order_3.jpg")

									p
										strong.
											С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.

									p.
										Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
		// |========== How to Order ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|