
extends includes/main
include includes/mixins

append variables
	- var title = 'index'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = true




block main

	// |=================================== Reklama ===================================|
	+advert()
		// |========== Reklama ==========|
	|
	|
	|
	

	// |=================================== Brand ===================================|
	section.brand_idx_sec
		.container
			.brand_idx
				+base_title('brand_idx_ttl') Популярные бренды
				|
				|

				-
					var brandMenu = [
						'Гигиена',
						'Здоровье',
						'Красота',
						'Для детей',
						'Медицинские товары',
					]
				+base_menu(brandMenu, 'brand_idx_menu')
				|
				|
				
				.brand_idx_cnt
					.row
						-
							var brandItemImage = [
								'img/index/brand_1.png',
								'img/index/brand_2.png',
							]
						-for (var i = 0; i < 2; i++)
							each item in brandItemImage
								.col-3
									a.brand_idx_it.fx-c(href)
										img.brand_idx_it_img(src= item)
				|
				|
				
				+base_more('Все бренды', 'brand_idx_more')
		// |========== Brand ==========|
	|
	|
	|


	// |____________________ Line Separator ____________________|
	+base_hr()
	|
	|
	|


	// |=================================== Product ===================================|
	section.prod_idx_sec
		.container
			.prod_idx
				+base_title('prod_idx_ttl') Каталог товаров
				|
				|

				-
					var productMenu = [
						'Новинки',
						'Лидер продаж',
						'Акция',
					]
				+base_menu(productMenu, 'prod_idx_menu')
				|
				|

				.prod_idx_cnt
					.row.equal-offsets
						
						+product_v('col-4 col-xl-3')
				|
				|

				+base_more('Весь каталог', 'prod_idx_more')
		// |========== Product ==========|
	|
	|
	|


	// |=================================== Client ===================================|
	section.client_idx_sec
		.container
			.client_idx
				+base_title('client_idx_ttl') Наши клиенты
				|
				|

				.client_idx_cnt
					.client_idx_bnr_bx
						.client_idx_bnr
							-
								var clientItem = [
									'img/index/client_1.png',
									'img/index/client_2.png',
								]
							-for (var i = 0; i < 4; i++)
								each item in clientItem
									.client_idx_bnr_it.fx-c
										img.img(src= item)
						|
						|
						
						.client_idx_bnr_nav
							.client_idx_bnr_btn.prev
								i.fa.fa-angle-left
								
							.client_idx_bnr_btn.next
								i.fa.fa-angle-right
		// |========== Client ==========|
	|
	|
	|


	// |=================================== News ===================================|
	section.news_idx_sec
		.container
			.news_idx
				+base_title('news_idx_ttl') Последние новости
				|
				|

				.news_idx_cnt
					.row
						-
							var newsItem = [
								{
									'image': 'img/index/news_1.jpg',
									'date': '02.08.2018',
									'title': 'Открытие нового раздела на сайте',
									'description': 'Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая Интеллект естественно понимает под собой',
								},
								{
									'image': 'img/index/news_2.jpg',
									'date': '30.07.2018',
									'title': 'Открытие нового раздела на сайте',
									'description': 'Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая Интеллект естественно понимает под собой',
								},
							]
						-for (var i = 0; i < 2; i++)
							each item in newsItem
								.col-3
									.news_idx_it
										a.news_idx_it_img(href)
											img.img(src= item.image)
											
											div.news_idx_it_date= item.date
										|
										|
										
										.news_idx_it_txt
											a.news_idx_it_name(href)= item.title
											
											.news_idx_it_desc
												p= item.description
				|
				|

				+base_more('Больше новостей', 'news_idx_more')
		// |========== News ==========|
	|
	|
	|


	// |____________________ Line Separator ____________________|
	+base_hr()
	|
	|
	|


	// |=================================== About ===================================|
	section.about_idx_sec
		.container
			.about_idx
				+base_title('about_idx_ttl') О компании
				|
				|

				.about_idx_cnt.text-editor
					-for (var i = 0; i < 3; i++)
						p.
							Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты. Дискретность амбивалентно транспонирует гравитационный парадокс. Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс. Структурализм абстрактен. Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс. Надстройка нетривиальна. Аксиома силлогизма, по определению,
		// |========== About ==========|











	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|