extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'news all'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== News ===================================|
	section.news_sec
		.container
			.news

				-
					var breadData = [
						'Главная',
						'Новости',
					]
				+base_bread(breadData, 'news_bread')
				|
				|

				.news_cnt
					.row
						.col-9
							.news_main.news_all
								+base_title('news_all_hd') Новости
								|
								|
								
								.news_all_bd
									-for (var i = 0; i < 7; i++)
										include includes/parts/news_it
								|
								|
								
								.news_all_ft
									.pharmacy_res_back
										a(href)
											i.fa.fa-angle-double-left
											| Вернуться на главную
									|
									|

									+pag_second('news_main_pag')
						|
						|

						.col-3
							.info_page_asd.news_asd
								.info_page_asd_it.news_asd_it
									.news_asd_sub
										+base_title('news_asd_sub_ttl') Полезная рассылка
										
										.news_asd_sub_cnt
											form
												.form-group
													input.form-control.news_asd_sub_inp(type="text", placeholder="Имя")
													
												.form-group
													input.form-control.news_asd_sub_inp(type="email", placeholder="Email")
													
												+base_button('news_asd_sub_btn color_alert', false) Подписаться
								|
								|
									
								.info_page_asd_it.news_asd_it
									.news_asd_cat
										+base_title('news_asd_cat_ttl') Категории
	
										-
											var infoPageMenu = [
												'Экономика',
												'ВЭД',
												'Логистика',
												'Доставка',
											]
										+info_page_menu(infoPageMenu, 1)
								|
								|

								.info_page_asd_it.news_asd_it
									.news_asd_rek
										a(href)
											img(src="img/news/reklama_fb.jpg")
								|
								|
									
								.info_page_asd_it.news_asd_it
									.news_asd_rek
										a(href)
											img(src="img/news/reklama_insta.jpg")
		// |========== News ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|