extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'news one'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== News ===================================|
	section.news_sec
		.container
			.news

				-
					var breadData = [
						'Главная',
						'Новости',
						'Открытие',
					]
				+base_bread(breadData, 'news_bread')
				|
				|

				.news_cnt
					.row
						.col-9
							.news_main.news_one
								.news_one_hd
									+base_title('news_one_ttl') Открытие нового раздела на сайте
									
									.news_one_info
										.news_one_info_it.date
											.txt Дата:
											.val 02.08.2018
										
										.news_one_info_it.cat
											.txt Категория:
											.val #экономика
								|
								|

								.news_one_bd
									.news_one_txt.text-editor
										img.mb-3(src="img/news/news_one.jpg")
										
										p.
											С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.
										
										p.
											Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
									
									.pharmacy_res_back.news_one_back
										a(href)
											i.fa.fa-angle-double-left
											| Вернуться к списку
								|
								|

								.news_one_ft
									.news_one_scl
										.news_one_scl_txt Поделится с друзьями:
										
										ul.news_one_scl_ls
											-
												var newsSocial = [
													'fa-facebook',
													'fa-twitter',
													'fa-linkedin',
													'fa-vk',
													'fa-odnoklassniki',
												]
											each item in newsSocial
												li
													a(href)
														i.fa(class= item)
									|
									|

									.news_one_next
										a(href)
											| Следующая новость
											i.fa.fa-angle-double-right
						|
						|

						.col-3
							.info_page_asd.news_asd
								.info_page_asd_it.news_asd_it
									.news_asd_sub
										+base_title('news_asd_sub_ttl') Полезная рассылка

										.news_asd_sub_cnt
											form
												.form-group
													input.form-control.news_asd_sub_inp(type="text", placeholder="Имя")

												.form-group
													input.form-control.news_asd_sub_inp(type="email", placeholder="Email")

												+base_button('news_asd_sub_btn color_alert', false) Подписаться
								|
								|

								.info_page_asd_it.news_asd_it
									.news_asd_cat
										+base_title('news_asd_cat_ttl') Категории

										-
											var infoPageMenu = [
												'Экономика',
												'ВЭД',
												'Логистика',
												'Доставка',
											]
										+info_page_menu(infoPageMenu, 1)
								|
								|

								.info_page_asd_it.news_asd_it
									.news_asd_rek
										a(href)
											img(src="img/news/reklama_fb.jpg")
		// |========== News ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|