extends includes/main
include includes/mixins

append variables
	- var title = 'oferta'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main

	// |=================================== Oferta ===================================|
	section.oferta_sec
		.container
			.oferta
				-
					var breadData = [
						'Главная',
						'Согласие на обработку персональных данных',
					]
				+base_bread(breadData, 'oferta_bread')
				|
				|
				
				+base_title('oferta_ttl') Согласие на обработку персональных данных
				|
				|
	
				.oferta_cnt
					.text-editor
						p.
							С другой стороны начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития.
						
						p.
							Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Товарищи! реализация намеченных плановых заданий требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение соответствующий условий активизации.
						
						p.
							С другой стороны начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития.Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Товарищи! реализация намеченных плановых заданий требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. 
						
						p.
							Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение соответствующий условий активизации.
						
						p.
							С другой стороны начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития.
						
						p.
							Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Товарищи! реализация намеченных плановых заданий требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития.
						
						p.
							Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Товарищи! реализация намеченных плановых заданий требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.
		// |========== Oferta ==========|







	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|