extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'payment'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main


	// |=================================== Payment ===================================|
	section.cart_sec.payment_sec
		.container
			.payment
				-
					var breadData = [
						'Главная',
						'Корзина',
						'Оформление заказа',
					]
				+base_bread(breadData, 'payment_bread')
				|
				|


				+base_title('payment_hd') Оформление заказа
				|
				|

				.payment_bd
					.payment_step
						.payment_step_ttl
							.payment_step_ttl_name
								strong Шаг 1 
								| Авторизация
								
							.payment_step_ttl_capt Подтвердите номер телефона
						|
						|
						
						.payment_step_cnt
							.payment_tel
								.payment_tel_field
									.payment_tel_txt Телефон
									
									.payment_tel_inp_bx
										input.int_tel.payment_tel_inp(type="tel")
									
									+base_button('color_alert payment_tel_btn', false) Подтвердить номер
					|
					|
					

					.payment_step
						.payment_step_ttl
							.payment_step_ttl_name
								strong Шаг 2 
								| Уточнение заказа

							.payment_step_ttl_capt Проверьте правильно ли оформлены заказы
						|
						|

						.payment_step_cnt
							.cart_gr.payment_gr
								.payment_gr_hd
									| Вы заказли товары у продавца: 
									a(href) Smart Pharma Solutions
								|
								|
								
								.ord_arch_bd.payment_gr_bd
									-for (var j = 0; j < 3; j++)
										.ord_arch_prod.payment_prod
											.row
												.col.cart_prod_desc.payment_prod_desc
													+pc_product()(like = true)
												|
												|
	
												.col.cart_prod_qty.payment_prod_qty
													+pc_quantity()(control = [true, true])
												|
												|
	
												.col.cart_prod_prc.payment_prod_prc
													+pc_price()(text = [true, true])
												|
												|
	
												.col.cart_prod_prc_tot.payment_prod_prc_tot
													+pc_price_total(true)
								|
								|
								
								.payment_gr_ft
									.payment_cmt
										.payment_cmt_ttl Оставить комментарий для продавца:
										
										textarea.payment_cmt_txtar(placeholder="Вы можете оставить комментарий для продавца.")
										
										.payment_cmt_capt.
											Число допустимых символов не превышает 1000 знаков русского алфавита #[br]
											или арабских цифр. Не поддерживаются коды HTML.
									|
									|
									
									.payment_info
										.payment_info_dlvr
											.txt Тип доставки:
											.val Курьером (платно)
										
										.payment_info_prc
											.cart_total_prc_it
												.txt Стоимость доставки (сум):
												.val 25 000
											
											.cart_total_prc_it
												.txt Общая стоимость (сум):
												.val 2 355 400
					|
					|
					

					.payment_step
						.payment_step_ttl
							.payment_step_ttl_name
								strong Шаг 3 
								| Оплата

							.payment_step_ttl_capt Выберите удобный способ оплаты
						|
						|

						.payment_step_cnt
							.payment_type
								-
									var paymentType = [
										{
											'checked': true,
											'image': 'img/payment/payme.jpg',
											'name': 'Оплата через платежные систему PayMe',
											'text': 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.',
										},
										{
											'checked': false,
											'image': 'img/payment/cash.jpg',
											'name': 'Наличный расчет',
											'text': 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.',
										},
									]
								each item in paymentType
									.payment_type_it
										label.payment_type_rdo
											div.payment_type_rdo_inp
												input.inp(type="radio", name="paymentRadio", hidden, checked= item.checked)
												.sign.fx-c
											|
											|
											
											div.payment_type_img.fx-c
												img(src= item.image)
										|
										|
										
										.payment_type_txt
											.payment_type_name= item.name
											
											.payment_type_desc= item.text
				|
				|

				.payment_ft
					+pc_cart_foot(false)

		// |========== Payment ==========|



















//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|