extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'personal info vendor'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0', true, false)
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Personal Cabinet ===================================|
	section.per_cab_sec
		.container
			.per_cab

				-
					var breadData = [
						'Главная',
						'Персональный кабинет',
					]
				+base_bread(breadData, 'per_cab_bread')
				|
				|

				+base_title('per_cab_ttl') Персональный кабинет
				|
				|

				.per_cab_cnt
					.row
						.col-3
							.per_cab_asd
								.per_cab_asd_it
									-
										var pcMenu = [
											'Мои заказы',
											'Информация о аптеке',
											'Мои товары',
											'Безопасность',
										]
									+pc_menu('Мой кабинет', pcMenu, 2)
								|
								|

								.per_cab_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.per_cab_main
								.pc_info
									.pc_info_ttl
										+base_title('pc_info_ttl_txt') Информация о аптеке

										.pc_info_ttl_capt Заполните поля правильной информацией
									|
									|

									.pc_info_cnt
										form
											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Фото

												.col-6
													.pc_info_up
														.pc_info_up_img
															+img_upload()

														.pc_info_up_txt.
															Рекомендованный #[br]
															размер для корректного #[br]
															отображения - 600 х 600 px
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Название компании

												.col-6
													input.form-control.dlvr_adrs_new_inp(type="text", placeholder="Название вашей компании")
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Email

												.col-6
													input.form-control.dlvr_adrs_new_inp(type="email", placeholder="Ваш email")
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Страна

												.col-6
													.hdr_bd_city_sel
														select.form-control.dlvr_adrs_new_inp.ap-n
															option Выберите страну из списка
															option Выберите страну из списка
															option Выберите страну из списка

														i.fa.fa-angle-down
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Регион, область

												.col-6
													.hdr_bd_city_sel
														select.form-control.dlvr_adrs_new_inp.ap-n
															option Выберите регион из списка
															option Выберите регион из списка
															option Выберите регион из списка

														i.fa.fa-angle-down
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Город

												.col-6
													.hdr_bd_city_sel
														select.form-control.dlvr_adrs_new_inp.ap-n
															option Выберите город из списка
															option Выберите город из списка
															option Выберите город из списка

														i.fa.fa-angle-down
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Район

												.col-6
													.hdr_bd_city_sel
														select.form-control.dlvr_adrs_new_inp.ap-n
															option Выберите город из списка
															option Выберите город из списка
															option Выберите город из списка

														i.fa.fa-angle-down
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Адрес

												.col-6
													textarea.form-control.dlvr_adrs_new_inp(rows="4", placeholder="Ваш адрес (включая район)")
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Время работы

												.col-6
													.row
														.col-6
															.pc_info_v_time
																.txt с
																	
																.hdr_bd_city_sel
																	select.form-control.dlvr_adrs_new_inp.ap-n
																		option 00:00
																		option 00:00
																		option 00:00
	
																	i.fa.fa-angle-down
														|
														|
														
														.col-6
															.pc_info_v_time
																.txt по
																	
																.hdr_bd_city_sel
																	select.form-control.dlvr_adrs_new_inp.ap-n
																		option 00:00
																		option 00:00
																		option 00:00
	
																	i.fa.fa-angle-down
											|
											|


											.row.mt-4.pt-3
												.col-6.offset-3
													+base_button('color_alert dlvr_adrs_new_btn', false) Сохранить
		// |========== Personal Cabinet ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|