extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'personal info'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0', true, false)
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Personal Cabinet ===================================|
	section.per_cab_sec
		.container
			.per_cab

				-
					var breadData = [
						'Главная',
						'Персональный кабинет',
					]
				+base_bread(breadData, 'per_cab_bread')
				|
				|

				+base_title('per_cab_ttl') Персональный кабинет
				|
				|

				.per_cab_cnt
					.row
						.col-3
							.per_cab_asd
								.per_cab_asd_it
									-
										var pcMenu = [
											'Мои заказы',
											'Мои данные',
											'Адреса Доставки',
											'Избранные товары',
											'Безопасность',
										]
									+pc_menu('Мой кабинет', pcMenu, 2)
								|
								|

								.per_cab_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.per_cab_main
								.pc_info
									.pc_info_ttl
										+base_title('pc_info_ttl_txt') Личные данные
										
										.pc_info_ttl_capt Вы можете изменить логин или пароль в любое время.
									|
									|
									
									.pc_info_cnt
										form
											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Фото

												.col-6
													.pc_info_up
														.pc_info_up_img
															+img_upload(true)
														
														.pc_info_up_txt.
															Рекомендованный #[br]
															размер для корректного #[br]
															отображения - 600 х 600 px
											|
											|
											
											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Имя

												.col-6
													input.form-control.dlvr_adrs_new_inp(type="text", placeholder="Ваше имя")
											|
											|
											
											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Фамилия

												.col-6
													input.form-control.dlvr_adrs_new_inp(type="text", placeholder="Ваша фамилия")
											|
											|
											
											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Отчество

												.col-6
													input.form-control.dlvr_adrs_new_inp(type="text", placeholder="Ваше отчество")
											|
											|
											
											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Email

												.col-6
													input.form-control.dlvr_adrs_new_inp(type="email", placeholder="Ваш email")
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Дата рождения

												.col-6
													.form-row
														.col-4
															.hdr_bd_city_sel
																select.form-control.dlvr_adrs_new_inp.ap-n
																	option День
																	option День
																	option День
		
																i.fa.fa-angle-down
														|
														|
														
														.col-4
															.hdr_bd_city_sel
																select.form-control.dlvr_adrs_new_inp.ap-n
																	option Месяц
																	option Месяц
																	option Месяц
		
																i.fa.fa-angle-down
														|
														|

														.col-4
															.hdr_bd_city_sel
																select.form-control.dlvr_adrs_new_inp.ap-n
																	option Год
																	option Год
																	option Год
		
																i.fa.fa-angle-down
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Пол

												.col-6
													.hdr_bd_city_sel
														select.form-control.dlvr_adrs_new_inp.ap-n
															option Выберите пол
															option Выберите пол
															option Выберите пол

														i.fa.fa-angle-down
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Страна

												.col-6
													.hdr_bd_city_sel
														select.form-control.dlvr_adrs_new_inp.ap-n
															option Выберите страну из списка
															option Выберите страну из списка
															option Выберите страну из списка

														i.fa.fa-angle-down
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Регион, область

												.col-6
													.hdr_bd_city_sel
														select.form-control.dlvr_adrs_new_inp.ap-n
															option Выберите регион из списка
															option Выберите регион из списка
															option Выберите регион из списка

														i.fa.fa-angle-down
											|
											|

											.form-group.row
												.col-3.col-form-label.dlvr_adrs_new_lbl Город

												.col-6
													.hdr_bd_city_sel
														select.form-control.dlvr_adrs_new_inp.ap-n
															option Выберите город из списка
															option Выберите город из списка
															option Выберите город из списка

														i.fa.fa-angle-down
											|
											|


											.row.mt-4.pt-3
												.col-6.offset-3
													+base_button('color_alert dlvr_adrs_new_btn', false) Сохранить
		// |========== Personal Cabinet ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|