extends includes/main
include includes/mixins

append variables
	- var title = 'pharmacy list'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert()
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Pharmacy ===================================|
	section.pharmacy_sec
		.container
			.pharmacy
				+base_title('pharmacy_ttl') Аптеки
				|
				|

				.pharmacy_cnt
					.pharmacy_res
						.pharmacy_res_hd
							-
								var brandMenu = [
									'Списком',
									'На карте',
									'Ближайшие',
								]
							+base_menu(brandMenu, 'pharmacy_menu', 1)
							|
							|
							
							.pharmacy_search
								form
									.hdr_bd_search
										input.base_input_solid.hdr_bd_search_inp(type="search" placeholder="Введите улицу, название аптеки, район и т.п.")
										+base_button('hdr_bd_search_btn color_alert', false) Поиск
						|
						|
							
						.pharmacy_res_bd
							+pharmacy_table()
						|
						|
							
						.pharmacy_res_ft
							.pharmacy_res_back
								a(href)
									i.fa.fa-angle-double-left
									| Вернуться на главную
							|
							|

							+pag_second('pharmacy_res_pag')
					|
					|
					
					include includes/parts/pharmacy_map
		// |========== Pharmacy ==========|
	|
	|
	|
















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|