extends includes/main
include includes/mixins

append variables
	- var title = 'product all horizontal'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = true




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0')
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Product All ===================================|
	section.prod_all_sec
		.container
			.prod_all
				-
					var breadData = [
						'Главная',
						'Лекарственные препараты',
						'Антибактериальные препараты',
					]
				+base_bread(breadData, 'prod_all_bread')
				|
				|
				
				+base_title('prod_all_ttl') Антибактериальные препараты (345)
				|
				|

				.prod_all_cnt
					.row
						.col-3
							.prod_all_asd
								.prod_all_asd_it
									+filter_group('Форма выпуска', true)
										ul.prod_all_ftr_chk_ls
											-for (var i = 0; i < 3; i++)
												li
													+input_type()(text = true, class_name = 'prod_all_ftr_chk')
														.prod_all_ftr_chk_txt
															.txt Таблетки
															.val 79
									|
									|

									+filter_group('Цена', true)
										.prod_all_ftr_prc
											.prod_all_ftr_prc_val_bx
												.prod_all_ftr_prc_val
													.txt от
													input.inp.form-control(data-price-range-from)
													.cur сум
												|
												|

												.prod_all_ftr_prc_val
													.txt до
													input.inp.form-control(data-price-range-to)
													.cur сум
											|
											|
											
											.prod_all_ftr_prc_range(data-price-range)
									|
									|

									+filter_group('Упаковка')
										ul.prod_all_ftr_chk_ls
											-for (var i = 0; i < 3; i++)
												li
													+input_type()(text = true, class_name = 'prod_all_ftr_chk')
														.prod_all_ftr_chk_txt
															.txt Таблетки
															.val 79
									|
									|

									+filter_group('Страна')
										ul.prod_all_ftr_chk_ls
											-for (var i = 0; i < 3; i++)
												li
													+input_type()(text = true, class_name = 'prod_all_ftr_chk')
														.prod_all_ftr_chk_txt
															.txt Таблетки
															.val 79
									|
									|

									+filter_group('Акции', true)
										ul.prod_all_ftr_chk_ls
											li
												+input_type()(text = true, class_name = 'prod_all_ftr_chk')
													.prod_all_ftr_chk_txt
														.txt Акции
														.val 2
											
											li
												+input_type()(text = true, class_name = 'prod_all_ftr_chk')
													.prod_all_ftr_chk_txt
														.txt Скидки
														.val 79
									|
									|
									
									.prod_all_ftr_act
										+base_button('color_alert prod_all_ftr_act_done') Применить
										
										a(href).prod_all_ftr_act_res Сбросить фильтр
								|
								|
								
								.prod_all_asd_it
									+filter_group('Товары на букву', true)
										.prod_all_ftr_letter
											include includes/parts/alphabet_signs
								|
								|
								
								.prod_all_asd_it
									include includes/parts/pc_advert
								|
								|
								
								.prod_all_asd_it
									.pharmacy_res_back.prod_all_back
										a(href)
											i.fa.fa-angle-double-left
											| Вернуться к категориям
									|
									|
						|
						|
						
						.col-9
							.prod_all_main
								.prod_all_main_hd
									-
										var menuItems = [
											'Новинки',
											'Лидер продаж',
											'Акция',
											'Цена',
										]
									+base_menu(menuItems, 'prod_all_menu')
									|
									|
									
									.prod_all_pag_bx
										+pag_first(6, 'prod_all_pag')
										|
										|
										
										.prod_all_view
											a(href).bt.list.active
												i.fa.fa-th-list
											
											a(href).bt.box
												i.fa.fa-th-large
								|
								|
								
								.prod_all_main_bd
									+product_h()
								|
								|
								
								.prod_all_main_ft
									.prod_all_pag_bx
										+pag_first(6, 'prod_all_pag')
										|
										|

										.prod_all_view
											a(href).bt.list.active
												i.fa.fa-th-list

											a(href).bt.box
												i.fa.fa-th-large
		// |========== Product All ==========|













//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|