extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'product'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0', true, false)
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Product One ===================================|
	section.vendor_sec.prod_one_sec
		.container
			.vendor.prod_one

				-
					var breadData = [
						'Главная',
						'Лекарственные препараты',
						'Антибактериальные препараты',
						'Бактистатин',
					]
				+base_bread(breadData, 'prod_one_bread')
				|
				|

				+base_title('prod_one_ttl') Бактистатин, капсулы, 20 шт.
				|
				|
				
				.prod_one_cnt
					.prod_one_view
						.prod_one_view_img
							.prod_one_view_img_lg
								-for (var i = 0; i < 3; i++)
									.prod_one_view_img_lg_it
										a(href="img/index/product_1.jpg", data-fancybox="gallery").prod_one_view_img_lg_gal.fx-c
											img(src="img/index/product_1.jpg")
										
										a(href).prod_one_view_img_lg_like.active
											i.fa.fa-heart-o
											i.fa.fa-heart
									|
									|
									
									.prod_one_view_img_lg_it
										a(href="img/index/product_2.jpg", data-fancybox="gallery").prod_one_view_img_lg_gal.fx-c
											img(src="img/index/product_2.jpg")
										
										a(href).prod_one_view_img_lg_like
											i.fa.fa-heart-o
											i.fa.fa-heart
							|
							|
							
							.prod_one_view_img_sm
								-for (var i = 0; i < 3; i++)
									.prod_one_view_img_sm_col
										.prod_one_view_img_sm_it.fx-c
											img(src="img/index/product_1.jpg")
									|
									|
									
									.prod_one_view_img_sm_col
										.prod_one_view_img_sm_it.fx-c
											img(src="img/index/product_2.jpg")
						|
						|
						
						.prod_one_view_txt
							.prod_one_view_art Арт. 210038
							|
							|
							
							ul.prod_one_view_info
								li
									.txt Производитель
									.val Крафт, Россия
								
								li
									.txt Срок годности
									.val до 01.03.2022
								
								li
									.txt Количество в упаковке
									.val 20
								
								li
									.txt Лекарственная форма
									.val капсулы
								
								li
									.txt Назначение
									.val Желудочно-кишечные
								
								li
									.txt Дестрибьютор
									.val
										a.link(href="") Крафт, Узбекистан
							|
							|
							
							.prod_one_view_btn
								+base_button('color_alert') Имеется в 3 аптеках
							|
							|
							
							.prod_one_view_note
								i.fa.fa-exclamation-circle
								| Изображения товаров могут отличаться от  представленных #[br] товаров в аптеках.
					|
					|
					
					.prod_one_chem
						+base_title('prod_one_chem_ttl') Выберите аптеку
						
						.prod_one_chem_cnt
							.prod_one_chem_tb_capt Товар найден в следующих аптеках
							
							table.pharmacy_tb.prod_one_chem_tb
								thead
									tr
										td НАЗВАНИЕ
										td Адрес
										td Режим работы
										td На складе
										td Срок годности 
										td Цена
										td КОЛ-ВО
										td &nbsp;
								|
								|
								
								tbody
									tr
										td
											.pharmacy_tb_name
												a(href) Smart Pharma Solutions
										td г. Ташкент, ул. Садика Азимова, 68
										td Пн-Вс: 09:00-21:00
										td 11
										td > 2-х лет
										td
											strong 2 250 000 сум
										td
											.pc_prod_qty_ctrl.prod_one_chem_qty
												button.bt.minus(type="button")
													i.fa.fa-minus

												input.pc_inp.inp(type="text", value="3")

												button.bt.plus(type="button")
													i.fa.fa-plus
										td
											.prod_one_chem_act
												a(href).btn.prod_one_chem_btn.buy Купить
									|
									|
									
									tr
										td
											.pharmacy_tb_name
												a(href) Smart Pharma Solutions
										td г. Ташкент, ул. Садика Азимова, 68
										td Пн-Вс: 09:00-21:00
										td 11
										td > 2-х лет
										td
											strong 15 000 сум
										td
											.pc_prod_qty_ctrl.prod_one_chem_qty
												button.bt.minus(type="button")
													i.fa.fa-minus

												input.pc_inp.inp(type="text", value="1")

												button.bt.plus(type="button")
													i.fa.fa-plus
										td
											.prod_one_chem_act
												a(href).btn.prod_one_chem_btn В корзине
					|
					|
					
					.prod_one_inst
						.row.mb-4
							.col-9
								.prod_one_inst_main
									+base_title('prod_one_inst_ttl') Инструкция по применению
									
									.prod_one_inst_txt.text-editor
										p.
											Бактистатин— уникальный запатентованный комплекс усиливающих действие друг друга природных компонентов: пробиотика, пребиотика и сорбента.
										
										p.
											Пробиотический компонент — стерилизованная высушенная культуральная жидкость природной бактерии Bacillus subtilis — содержит комплекс биологически активных метаболитов (лизоцим, бактериоцины, каталазы и др.).
										
										p.
											Пробиотический компонент в составе Бактистатина:
										
										p.
											обеспечивает восстановление нормальной микрофлоры кишечника;
										
										p.
											угнетает патогенные и условно-патогенные микроорганизмы, не влияя при этом на полезную микрофлору кишечника;
										
										p.
											обладает иммуномодулирующим действием за счет стимуляции синтеза интерферона и активации защитных клеток – макрофагов;
										
										p.
											способствует полноценному пищеварению.
										
										p.
											Природный сорбент — Цеолит — в составе Бактистатина:
										
										ul
											li.
												сорбирует и выводит шлаки, токсины и аллергены, не вступая при этом во взаимодействие с витаминами, аминокислотами, белками и
											
											li.
												другими полезными веществами, оставляя их в желудочно-кишечном тракте;
											
											li.
												уменьшает различные виды интоксикации, в том числе при печеночной и почечной недостаточности, бактериальных пищевых отравлениях;
											
											li.
												способствует нормализации всех видов обмена веществ: жирового, белкового и углеводного;
											
											li.
												является источником широкого спектра необходимых микроэлементов;
											
											li.
												улучшает процессы пищеварения;
											
											li.
												нормализует перистальтику кишечника, уменьшает вздутие и спазмы;
											
											li.
												повышает иммунитет;
											
											li.
												улучшает функцию печеночных клеток;
											
											li.
												стимулирует регенеративные процессы.
											
											li.
												Цеолит обеспечивает дозированное высвобождение, адресную доставку на всем протяжении кишечника и пролонгированное действие компонентов Бактистатина, благодаря постепенному высвобождению фиксированных на цеолите активных компонентов комплекса.
										
										p.
											Пребиотический компонент — гидролизат соевой муки — в составе Бактистатина:
										
										p.
											обеспечивает максимально благоприятные условия для роста нормальной микрофлоры кишечника и восстановления микробного пейзажа организма;
										
										p.
											является естественным источником полноценного белка и аминокислот.
										
										p.
											Благодаря своему составу, Бактистатин обладает дезинтоксикационными свойствами, иммуномодулирующим действием, способствует биоочистке, нормализации микрофлоры и восстановлению эндоэкологии кишечника.
										
										
										h6 Показания
										p.
											Бактистатин применяется в качестве средства, улучшающего функциональное состояние желудочно-кишечного тракта, при:
										
										ul
											li.
												дисбактериозах (дисбиозах) кишечника, возникающих в результате антибиотикотерапии, при хронических заболеваниях 
											
											li.
												желудочно-кишечного тракта, после перенесенных кишечных инфекций, после лучевой и химиотерапии;
											
											li.
												гастрите, гастродуодените;
											
											li.
												хроническом панкреатите;
											
											li.
												синдроме раздраженного кишечника;
											
											li.
												диспепсии (тошнота, изжога, жидкий стул);
											
											li.
												гиперхолестеринемии;
											
											li.
												аллергических и дерматологических заболеваниях (аллергическом дерматите);
											
											li.
												кишечных инфекциях;
											
											li.
												воздействии неблагоприятных факторов для повышения неспецифической резистентности организма.
										
										h6 Применение при беременности и кормлении грудью
										p.
											Противопоказано.
										
										h6 Противопоказания
										p.
											Индивидуальная непереносимость компонентов Бактистатина.
										
										h6 Побочные действия
										p.
											Аллергические реакции.
										
										h6 Как принимать, курс приема и дозировка
										p.
											Бактистатин принимают внутрь. Взрослым по 1-2 капсулы 2 раза в день во время еды. Длительность приема 2-4 недели. При отравлениях по 2 капсулы 3 раза в день в течение 3 дней.
										
										h6 Специальные указания
										p.
											Рекомендуется обязательно проконсультироваться с врачом перед применением БАДа. Следует учитывать, что Бактистатин – это биологически активная добавка к пище и лекарственным средством не является.
										
										h6 Форма выпуска
										p.
											Капсулы.
										
										h6 Условия хранения
										p.
											В сухом месте, при температуре не выше 25 °C
										
										h6 Срок годности
										p.
											2 года
										
										h6 Бренд
										p.
											БАКТИСТАТИН
										
										h6 Условия отпуска из аптек
										p.
											Без рецепта
							|
							|

							.col-3
								.prod_one_inst_asd
									.per_cab_asd_it
										include includes/parts/pc_advert
						|
						|
						
						.prod_one_inst_act
							.pharmacy_res_back.prod_one_inst_back
								a(href)
									i.fa.fa-angle-double-left
									| Вернуться назад
							|
							|
							
							a(href).prod_one_inst_anchor
								i.fa.fa-arrow-up
		// |========== Product One ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|