extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'search page'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== Search ===================================|
	section.news_sec.search_p_sec
		.container
			.search_p

				-
					var breadData = [
						'Главная',
						'Результаты поиска',
					]
				+base_bread(breadData, 'search_p_bread')
				|
				|

				+base_title('search_p_ttl') Результаты поиска
				|
				|

				.search_p_sch
					form
						.hdr_bd_search
							input.base_input_solid.hdr_bd_search_inp(type="search" placeholder="Найти...")
							+base_button('hdr_bd_search_btn color_alert', false) Найти
				|
				|

				.nav.search_p_tab
					a.btn(href="#id_1", data-toggle="tab") Товары (346)
					|
					|

					a.btn.active(href="#id_2", data-toggle="tab") Слова (226)
				|
				|

				.search_p_cnt
					.row
						.col-9
							.search_p_main
								.tab-content.news_all_bd
									// |____________________ Product ____________________|
									.tab-pane.fade(id="id_1").search_p_prod
										+product_h('', false)
										// |__________ Product __________|
									|
									|

									
									// |____________________ Word ____________________|
									.tab-pane.fade.show.active(id="id_2").search_p_word
										-for (var i = 0; i < 7; i++)
											include includes/parts/news_it
										// |__________ Word __________|

								.news_all_ft
									.pharmacy_res_back
										a(href)
											i.fa.fa-angle-double-left
											| Вернуться на главную
									|
									|

									+pag_second('news_main_pag')
						|
						|

						.col-3
							.info_page_asd.search_p_asd
								.info_page_asd_it.search_p_asd_it
									include includes/parts/pc_advert
									
		// |========== Search ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|