extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'security vendor'


block header_variables
	- var header_banner = false


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0', true, false)
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Personal Cabinet ===================================|
	section.per_cab_sec
		.container
			.per_cab

				-
					var breadData = [
						'Главная',
						'Персональный кабинет',
					]
				+base_bread(breadData, 'per_cab_bread')
				|
				|

				+base_title('per_cab_ttl') Персональный кабинет
				|
				|

				.per_cab_cnt
					.row
						.col-3
							.per_cab_asd
								.per_cab_asd_it
									-
										var pcMenu = [
											'Мои заказы',
											'Информация о аптеке',
											'Мои товары',
											'Безопасность',
										]
									+pc_menu('Мой кабинет', pcMenu, 4)
								|
								|

								.per_cab_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.per_cab_main
								.security
									.pc_info_ttl.security_ttl
										+base_title('pc_info_ttl_txt') Безопасность

										.pc_info_ttl_capt Вы можете изменить логин или пароль в любое время.
									|
									|

									.security_cnt
										.form-group
											.row
												.col-3.security_lbl Имя пользователя

												.col-9
													.security_txt
														.val ЧП "Jasurbek farm"
										|
										|

										.form-group
											.row
												.col-3.security_lbl Логин (телефон)

												.col-9
													.security_txt
														.val +998 97******609

														a.bt(href) изменить
										|
										|

										.form-group
											.row
												.col-3.security_lbl Пароль

												.col-9
													.security_txt
														.val ***********

														a.bt(href) изменить
		// |========== Personal Cabinet ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|