extends includes/main
include includes/mixins

append variables
	- var title = 'sublease'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert()
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Advertisement ===================================|
	section.ads_sec
		.container
			.ads
				+base_title('ads_ttl') Субаренда
				|
				|

				.ads_cnt
					.ads_text.text-editor
						p.
							Аптеки – места с большой проходимостью людей.

						p.
							Целевая аудитория: люди от 25 до 45 лет, со средним и высоким уровнем дохода, которые заботятся о себе и своих близких. Рекламировать в аптеках можно не только лекарства и медицинские услуги, но и здоровое питание, товары для красоты и ухода за собой, интересные предложения по проведению досуга, спортивные клубы. Современный житель мегаполиса заботится о своем здоровье и хочет хорошо выглядеть, а главное уделять этому время и деньги.

						p.
							Целевая аудитория: люди от 25 до 45 лет, со средним и высоким уровнем дохода, которые заботятся о себе и своих близких.
					|
					|

					.ads_img_bx
						.row
							.col-6
								img.ads_img(src="img/sublease/sublease_1.jpg")

							.col-6
								img.ads_img(src="img/sublease/sublease_2.jpg")
					|
					|

					.ads_app
						.ads_app_ttl Заявка на субаренду
						|
						|

						.ads_app_cnt
							.row
								.col-6
									.ads_app_form
										form
											.form-group
												input.form-control.ads_app_form_inp(placeholder="Имя", type="text")

											.form-group
												input.form-control.ads_app_form_inp(placeholder="Телефон", type="tel")

											.form-group
												input.form-control.ads_app_form_inp(placeholder="Email", type="email")

											.form-group
												textarea.form-control.ads_app_form_txtar(placeholder="Сообщение", rows="7")

											+base_button('ads_app_form_btn color_alert', false) Отправить
								|
								|

								.col-6
									.ads_app_img
										img(src="img/advertising/advertising_app_img.png")
		// |========== Advertisement ==========|
	|
	|
	|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|
