extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'terms'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== Terms ===================================|
	section.info_page_sec
		.container
			.info_page

				-
					var breadData = [
						'Главная',
						'Термины сайта',
					]
				+base_bread(breadData, 'info_page_bread')
				|
				|

				+base_title('info_page_ttl') Термины сайта
				|
				|

				.info_page_cnt
					.row
						.col-3
							.info_page_asd
								.info_page_asd_it
									-
										var infoPageMenu = [
											'Как заказать',
											'Доставка',
											'Часто задаваемые вопросы',
											'Термины сайта',
										]
									+info_page_menu(infoPageMenu, 4)
								|
								|

								.info_page_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.info_page_main
								.info_page_main_dlvr.text-editor
									img(src="img/info/terms_1.jpg")

									p.
										А — ретинол. 
									p.
										Е — токоферол. 
									p.
										D2 — эргокальциферол. 
									p.
										D3 — колекальциферол (холекальциферол). 
									p.
										K — менадион, фитоменадион, викасол. 
									p.
										C — аскорбиновая кислота. 
									p.
										B1 — тиамин. 
									p.
										B2 — рибофлавин. 
									p.
										B3 — ниацин. 
									p.
										В4 — аденозин фосфат. 
									p.
										B5 — пантотеновая кислота, декспантенол, пантотенат кальция. 
									p.
										B6 — пиридоксин. 
									p.
										B8 — инозин. 
									p.
										B12 — цианокобаламин. 
									p.
										B13 — оротовая кислота. 
									p.
										B15 — пангамовая кислота, кальция пангомат. 
									p.
										Bc — фолиевая кислота. 
									p.
										Bт — карнитин. 
									p.
										Bx — парааминобензойная кислота (ПАБК). 
									p.
										U — метилметионин. 
									p.
										N — липоевая ксилота. 
									p.
										H — биотин. 
									p.
										P — рутозид. 
									p.
										PP — никотиновая кислота, никотинамид. 
									p.
										«17 ОПК» — оксипрогестерона капронат. 
									p.
										«Бура» — натрия тетраборат. 
									p.
										«Зеленка» — бриллиантового зеленого раствор. 
									p.
										«Магнезия» — магния сульфат. 
									p.
										«Марганцовка» — калия перманганат. 
									p.
										«Альбуцид» — сульфацил натрия. 
									p.
										«Паста Лассара» (Лассара паста) — салицилово-цинковая паста. 
									p.
										«Спирт» — спирт этиловый, спирт медицинский, этанол, медицинский антисептический раствор. 
									p.
										«Уротропин» — гексаметилентетрамин. 
									p.
										«Физраствор» — физиологический раствор, натрия хлорид 0,9%. Нашатырный спирт — аммиак 10%. 
									p.
										«Куб», «кубик», «кубовый» — 1 мл, объемом 1 мл. 
									p.
										в/а — внутриартериально. 
									p.
										в/в — внутривенно. 
									p.
										в/м — внутримышечно. 
									p.
										в/к — внутрикожно. 
									p.
										п/к — подкожно. 
									p.
										Лингвально (-ый) — на язык. 
									p.
										Сублингвально (-ый) — под язык. 
									p.
										Назально (-ый) — в нос. 
									p.
										Орально (-ый) (лат. per os) — через рот. 
									p.
										Перфузия — продолжительное вливание или пропускание через (вливание через одно отверстие, выливание через другое). 
									p.
										Инфузия (лат. infusio) — вливание, парентеральное введение в организм больших количеств жидкости (например, крови, кровезаменителей). 
									p.
										Инъекция (лат. injectio) — впрыскивание: внутрикожное, подкожное, в/м, в/в, в/а, в спинномозговой канал.
		// |========== Terms ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|