extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'vendor'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== Reklama ===================================|
	+advert('mb-0', true, false)
		// |========== Reklama ==========|
	|
	|
	|


	// |=================================== Vendor ===================================|
	section.vendor_sec
		.container
			.vendor

				-
					var breadData = [
						'Главная',
						'Аптеки',
						'Smart Pharma Solutions',
					]
				+base_bread(breadData, 'vendor_bread')
				|
				|

				.vendor_cnt
					.row
						.col-5
							.vendor_info
								+base_title('vendor_info_hd') Smart Pharma Solutions
								|
								|
								
								.vendor_info_bd
									ul.vendor_info_ls
										li
											.txt Адрес
											.val Узбекистан, г. Ташкент, ул. Садика Азимова, 68
										|
										|
										
										li
											.txt Район
											.val Мирзо-Улугбекский
										|
										|
										
										li
											.txt Телефон
											.val +998 91 505 45 05, +998 71 230 76 66
										|
										|
										
										li
											.txt График работы
											.val Пн-Вс: 09:00-21:00
								|
								|
								
								.vendor_info_ft
									+base_button('color_alert vendor_info_btn_see') ПОСМОТРЕТЬ ТОВАРЫ
									
									.vendor_info_btn_get
										a.bt(href)
											i.fa.fa-map-marker
											| Как добраться
						|
						|
						
						.col-7
							.vendor_map
								img(src="img/vendor/map.jpg")
		// |========== Vendor ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|